<ion-content [fullscreen]="true" scrollY="false">
  <swiper-container
    #slides
    [slidesPerView]="1"
    [spaceBetween]="10"
    [centeredSlides]="true"
    keyboard="true"
    mousewheel="true"
  >
    <swiper-slide>
      <div class="swiper-zoom-container">
        <img
          class="intro-image"
          src="/assets/image/copilot/1.png"
          alt="Intro Image"
          referrerpolicy="no-referrer"
        />
        <div class="button-container">
          <ion-button
            (click)="close()"
            size="small"
            fill="clear"
            style="color: #000"
          >
            Skip
          </ion-button>
          <ion-button
            (click)="nextSlide()"
            size="small"
            color="light"
            slot="right"
            class="next-button"
          >
            Next
          </ion-button>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="swiper-zoom-container">
        <img
          class="intro-image"
          src="/assets/image/copilot/2.png"
          alt="Intro Image"
          referrerpolicy="no-referrer"
        />
        <div class="button-container">
          <ion-button
            (click)="close()"
            size="small"
            fill="clear"
            style="color: #000"
          >
            Skip
          </ion-button>
          <ion-button
            (click)="nextSlide()"
            size="small"
            color="light"
            slot="right"
            class="next-button"
          >
            Next
          </ion-button>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="swiper-zoom-container">
        <img
          class="intro-image"
          src="/assets/image/copilot/3.png"
          alt="Intro Image"
          referrerpolicy="no-referrer"
        />
        <div class="button-container">
          <ion-button
            (click)="close()"
            size="small"
            fill="clear"
            style="color: #000"
          >
            Skip
          </ion-button>
          <ion-button
            (click)="close()"
            size="small"
            color="light"
            slot="right"
            class="next-button"
          >
            Done
          </ion-button>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
