<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Leaderboard 🏆</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title>How It Works?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p style="font-size: larger">
        Building a chain plays an important role in learning languages 😎
      </p>
      <ul style="font-size: larger">
        <li>Stay online at least one time a day.</li>
        <li>Recovery of lost streaks is not possible.</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="(streaks$ | async)?.length > 0">
    <ion-card-header>
      <ion-card-subtitle> Don't break the chain 🔥 </ion-card-subtitle>
      <ion-card-title>Leaderboard 🏆</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ng-container *ngFor="let streak of (streaks$ | async); let i = index">
          <app-streak-list [item]="streak" [order]="i+1"></app-streak-list>
        </ng-container>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '0123456789'.split('')" detail>
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text
                [animated]="true"
                style="width: 60%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 30%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
