ion-content {
  --ion-background-color: var(--ion-item-background);
}

.typing {
  font-style: italic;
  font-size: small !important;
  font-weight: 300 !important;
}

ion-infinite-scroll-content {
  min-height: 1px;
}

.no-margin {
  margin-inline-end: 0px;
}

ion-thumbnail {
  width: 35px;
  height: 35px;
  --border-radius: 10px;
}

.message-body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: auto;
  border-radius: 10px;
  background: var(--ion-color-light-shade) !important;
  color: var(--ion-color-light-contrast) !important;
}

.message-main {
  float: left;
  float: inline-start;
  max-width: 80%;
}

.message-text {
  display: contents;
  margin: 0 !important;
  padding: 5px !important;
  font-size: 15px;
  padding-bottom: 0 !important;
  word-wrap: break-word;
  white-space: pre-line;
}

.replyClass {
  position: relative;
  width: auto !important;
  padding: 10px !important;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
}

.editClass {
  position: relative;
  width: auto !important;
  padding: 8px !important;
  font-size: 14px;
  font-style: italic;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
}

ion-toggle::part(label) {
  font-size: 2rem; /* Adjust the size as needed */
}
