<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/messages"></ion-back-button>
      <ion-avatar (click)="goProfile(userId)" style="width: 40px; height: 40px">
        <img src="" />
      </ion-avatar>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title (click)="goProfile(userId)">{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-empty-screen *ngIf="(messages | async)?.length == 0" [model]="model">
  </app-empty-screen>

  <ion-item-group
    lines="none"
    class="chats-group"
    *ngFor="let msg of messages | async"
  >
    <app-chat-box [chat]="msg" [current_user_id]="currentUserId"></app-chat-box>
  </ion-item-group>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-textarea
        placeholder="Type your message here..."
        type="text"
        [(ngModel)]="message"
        (ionFocus)="typingFocus()"
        (ionBlur)="typingBlur()"
        autoGrow="true"
      >
      </ion-textarea>
      <ion-icon
        color="medium"
        expand="icon-only"
        name="mic"
        slot="end"
      ></ion-icon>
      <ion-icon
        color="primary"
        expand="icon-only"
        name="send"
        slot="end"
        (click)="addMessage()"
      ></ion-icon>
      <ion-icon
        color="medium"
        expand="icon-only"
        name="link"
        slot="start"
      ></ion-icon>
    </ion-item>
    <!-- TODO: This has to be isTyping from room subscribtion -->
    <!--
    <small>uID: {{ uid }}</small>
    <small> typing: {{ isTyping }}</small><br />
    <small>cID: {{ currentUserId }}</small>
    <small> typing: {{ isTyping }}</small><br />
    <small>roomId: {{ roomId }}</small><br />-->
  </ion-toolbar>
</ion-footer>
