<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/messages"></ion-back-button>
      <ion-avatar
        (click)="redirectUserProfile()"
        style="width: 40px; height: 40px"
        class="ion-margin-start"
      >
        <img [src]="(user$ | async)?.profilePhoto" />
      </ion-avatar>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="search()">
        <ion-icon slot="icon-only" name="search-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title (click)="redirectUserProfile()">
      {{(user$ | async)?.name}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-empty-screen *ngIf="(messages$ | async)?.length == 0" [model]="model">
  </app-empty-screen>

  <ion-infinite-scroll
    position="top"
    threshold="50%"
    (ionInfinite)="loadMore($event)"
  >
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-list>
    <div class="message-container">
      <ion-item-group
        lines="none"
        class="chats-group"
        *ngFor="let msg of (messages$ | async)"
      >
        <app-chat-box
          [chat]="msg"
          [current_user_id]="(currentUser$ | async).$id"
        >
        </app-chat-box>
      </ion-item-group>
      <div *ngIf="(tempMessages$ | async)">
        <ion-item-group
          lines="none"
          class="chats-group"
          *ngFor="let tempMsg of (tempMessages$ | async)"
        >
          <app-pre-chat-box [tempMsg]="tempMsg"> </app-pre-chat-box>
        </ion-item-group>
      </div>
    </div>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <form [formGroup]="form" (ngSubmit)="createMessage()">
      <ion-item>
        <ion-textarea
          *ngIf="!isRecording && storedFileNames.length == 0"
          placeholder="Type your message..."
          type="text"
          formControlName="body"
          rows="1"
          (ionFocus)="typingFocus()"
          (ionBlur)="typingBlur()"
          autoGrow="true"
        >
        </ion-textarea>
        <ion-text
          *ngIf="isRecording"
          placeholder="Recording..."
          disabled="true"
        >
          Recording ..
        </ion-text>
        <div *ngIf="!isRecording && storedFileNames.length > 0">
          <ion-buttons slot="center">
            <ion-button (click)="play(storedFileNames[0].name)" fill="clear">
              <ion-icon slot="icon-only" name="play" color="success"></ion-icon>
            </ion-button>
            <ion-button
              (click)="deleteRecording(storedFileNames[0].name)"
              fill="clear"
            >
              <ion-icon slot="icon-only" name="trash" color="danger"></ion-icon>
            </ion-button>
            <ion-text class="ion-padding-horizontal">🔊 Audio</ion-text>
          </ion-buttons>
        </div>
        <ion-buttons slot="start">
          <ion-button (click)="selectImage()">
            <ion-icon slot="icon-only" name="camera-outline" color="medium">
            </ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-buttons slot="end">
          <ion-button #recordButton>
            <ion-icon
              slot="icon-only"
              name="mic"
              [color]="iconColorOfMic"
            ></ion-icon>
          </ion-button>
          <ion-button type="submit">
            <ion-icon slot="icon-only" name="send" color="primary"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </form>
  </ion-toolbar>
</ion-footer>
