<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title (click)="goProfile(uid)">{{name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="(chats | async ) as chat$">
 
    <app-empty-screen
      *ngIf="(chats | async)?.length == 0"
      [model]="model">
    </app-empty-screen>

    <ion-list lines="none" *ngIf="chat$?.length > 0">


    <!--TODO: TODO: There is a bug after i added ion-infinite-scroll.
    When i refresh the page manually, scroll to bottom is not working-->
    <ion-infinite-scroll position="top" (ionInfinite)="loadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

      <ion-item-group class="chats-group" *ngFor="let chat of chat$">
        <app-chat-box [chat]="chat" [current_user_id]="chatService.currentUserId" current_user_photo="https://i.pravatar.cc/300"></app-chat-box>
      </ion-item-group>
    </ion-list>
  </ng-container>
</ion-content>

<ion-footer>
  <ion-toolbar>
  <ion-item>
    <ion-textarea
      placeholder="Type your message here..."
      type="text"
      [(ngModel)]="message"
      autoGrow="true">
    </ion-textarea>
    <ion-icon color="medium" expand="icon-only" name="mic" slot="end"></ion-icon>
    <ion-icon color="primary" expand="icon-only" name="send" slot="end" (click)="sendMessage()" *ngIf="!isLoading"></ion-icon>
    <ion-icon color="medium" expand="icon-only" name="send" slot="end" *ngIf="isLoading"></ion-icon>
    <ion-icon color="medium" expand="icon-only" name="link" slot="start"></ion-icon>
  </ion-item>
</ion-toolbar>
</ion-footer>