<ion-header>
  <ion-toolbar>
    <ion-title>test</ion-title>
    <ion-button (click)="click()">a</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"
[scrollEvents]="true"
(ionScrollStart)="handleScrollStart()"
>
  <ion-list lines="none">
    <ion-item>
      <ion-avatar>
        <img src="https://i.pravatar.cc/300" />
      </ion-avatar>
      <div class="message-body">
        <div class="message-main-receiver">
          <div class="receiver">
            <div class="message-text">Hi, what are you doing?!</div>
            <span class="message-time float-right"> 45m ago </span>
          </div>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="message-body">
        <div class="message-main-sender">
          <div class="sender">
            <div class="message-text">
              I am doing nothing man! I am doing nothing man! I am doing nothing
              man! I am doing nothing man! I am doing nothing man! I am doing
              nothing man! I am doing nothing man! I am doing nothing man! I am
              doing nothing man!
            </div>
            <span class="message-time float-right"> 2m ago </span>
          </div>
        </div>
      </div>
      <ion-avatar>
        <img src="https://i.pravatar.cc/300" />
      </ion-avatar>
    </ion-item>
    <ion-item>
      <div class="message-body">
        <div class="message-main-sender">
          <div class="sender">
            <div class="message-text">
              I am doing nothing man! I am doing nothing man! I am doing nothing
              man! I am doing nothing man! I am doing nothing man! I am doing
              nothing man! I am doing nothing man! I am doing nothing man! I am
              doing nothing man!
            </div>
            <span class="message-time float-right"> 2m ago </span>
          </div>
        </div>
      </div>
      <ion-avatar>
        <img src="https://i.pravatar.cc/300" />
      </ion-avatar>
    </ion-item>
    <ion-item>
      <div class="message-body">
        <div class="message-main-sender">
          <div class="sender">
            <div class="message-text">
              I am doing nothing man! I am doing nothing man! I am doing nothing
              man! I am doing nothing man! I am doing nothing man! I am doing
              nothing man! I am doing nothing man! I am doing nothing man! I am
              doing nothing man!
            </div>
            <span class="message-time float-right"> 2m ago </span>
          </div>
        </div>
      </div>
      <ion-avatar>
        <img src="https://i.pravatar.cc/300" />
      </ion-avatar>
    </ion-item>

    <ion-item>
      <ion-avatar>
        <img src="https://i.pravatar.cc/300" />
      </ion-avatar>
      <div class="message-body">
        <div class="message-main-receiver">
          <div class="receiver">
            <div class="message-text">
              Hi, what are you dyyoing?! Hi, what are you dyyoing?! Hi, what are
              you dyyoing?! Hi, what are you dyyoing?!
            </div>
            <span class="message-time float-right"> Just now </span>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>