#notification-button {
  position: relative;
  width: 42px;
  top: 1px;
  right: 1px;
  overflow: visible !important;
}

#notifications-badge {
  background-color: var(--ion-color-danger);
  position: absolute;
  top: -3px;
  right: -3px;
  border-radius: 100%;
  font-size: 0.5em;
}

ion-thumbnail {
  margin-top: 5px;
  margin-bottom: 5px;
  --border-radius: 10px;
}
