<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Messages</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="openArchiveMessages()"
        expand="block"
        size="large"
        slot="icon-only"
        shape="round"
      >
        <ion-icon name="archive-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ng-container>
    <app-empty-screen *ngIf="(rooms$ | async)?.length == 0" [model]="model">
    </app-empty-screen>

    <ion-list *ngIf="(rooms$ | async)?.length > 0">
      <div *ngFor="let room of (rooms$ | async)" detail>
        <ion-item (click)="getChat(room)">
          <ng-container *ngIf="room">
            <ion-avatar slot="start">
              <img
                [src]="room?.['userData']?.profilePhoto"
                alt=""
                referrerpolicy="no-referrer"
              />
            </ion-avatar>
            <ion-label>
              <h2>{{room?.['userData']?.name}}</h2>
              <p *ngIf="room?.['lastMessage']?.body">
                {{room?.['lastMessage']?.body}}
              </p>
              <p *ngIf="!room?.['lastMessage']?.body">Say Hi 👋</p>
            </ion-label>
            <ion-note *ngIf="room?.['lastMessage']">
              {{ messageTime(room?.['lastMessage']?.$updatedAt) }}
            </ion-note>
            <ion-note *ngIf="!room?.['lastMessage']">
              {{ messageTime(room?.$updatedAt) }}
            </ion-note>
          </ng-container>
        </ion-item>
      </div>
    </ion-list>

    <!-- Skeleton Start -->
    <ion-list *ngIf="(isLoading$ | async)">
      <ion-item *ngFor="let i of '0123456789'.split('')">
        <ion-thumbnail slot="start">
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ion-thumbnail>
        <ion-label>
          <h3>
            <ion-skeleton-text
              [animated]="true"
              style="width: 80%"
            ></ion-skeleton-text>
          </h3>
          <p>
            <ion-skeleton-text
              [animated]="true"
              style="width: 60%"
            ></ion-skeleton-text>
          </p>
          <p>
            <ion-skeleton-text
              [animated]="true"
              style="width: 30%"
            ></ion-skeleton-text>
          </p>
        </ion-label>
      </ion-item>
    </ion-list>
    <!-- Skeleton End -->
  </ng-container>
</ion-content>
