<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Checkout Details 🪙</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title>How It Works?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p style="font-size: larger">
        <a (click)="openPage(twitter)"><strong>#Learn2Earn</strong></a>
        with LangX
      </p>
      <ul style="font-size: larger">
        <li>
          A fixed daily amount of 10,000 tokens is available on the testnet.
        </li>
        <li>
          In the future, the Smart Contract will determine the distribution of
          tokens each day.
        </li>
        <li>
          Tokens are distributed based on your
          <a (click)="openPage(infoURL)">in-app activity</a>.
        </li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="(checkouts$ | async)?.length > 0">
    <ion-card-header>
      <ion-card-subtitle>Consistency is Key 🔑</ion-card-subtitle>
      <ion-card-title>Daily Checkouts 📆</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ng-container
          *ngFor="let checkout of (checkouts$ | async); let i = index"
        >
          <app-checkout-list [item]="checkout"></app-checkout-list>
        </ng-container>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '0123456789'.split('')" detail>
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text
                [animated]="true"
                style="width: 60%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 30%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
