<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Email</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label>{{ (account$ | async)?.email }}</ion-label>
          <ion-item slot="end" *ngIf="(account$ | async)?.emailVerification">
            <ion-icon
              name="shield-checkmark-outline"
              color="success"
            ></ion-icon>
          </ion-item>
          <ion-item *ngIf="!(account$ | async)?.emailVerification">
            <ion-button
              [disabled]="verifyButtonDisabled"
              (click)="verifyEmail()"
            >
              {{ verifyButtonText }}
            </ion-button>
          </ion-item>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Account Settings</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item (click)="updatePasswordPage()" detail>
          <ion-icon name="key-outline"></ion-icon>
          <ion-label size="small">Change Password</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Last Seen</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="log-in-outline"></ion-icon>
          <ion-label
            >{{ (currentUser$ | async)?.lastSeen| date: 'dd/MM/yyyy, HH:mm:ss'
            }}
          </ion-label>
          <ion-note>{{ lastSeen((currentUser$ | async)?.lastSeen) }}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="(identities$ | async)?.length > 0">
    <ion-card-header>
      <ion-card-title>Linked Accounts</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item *ngFor="let item of identities$ | async">
          <ion-icon name="logo-{{item?.provider}}"></ion-icon>
          <ion-label>
            {{(item.provider.charAt(0) | uppercase) + item.provider.slice(1)}}
          </ion-label>
          <!-- TODO: #321 Delete Identity Functionality -->
          <!-- <ion-item>
            <ion-label><a href="#">Unlink</a></ion-label>
          </ion-item> -->
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Active Sessions</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item *ngFor="let item of sessions$ | async">
          <ion-icon name="logo-{{item?.deviceBrand}}"></ion-icon>
          <ion-label> {{item?.ip}} </ion-label>
          <ion-note>{{item?.countryName}}</ion-note>
          <!-- TODO: #322 Delete Session Functionality -->
          <!-- <ion-item>
            <ion-label><a href="#">Delete</a></ion-label>
          </ion-item> -->
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-row>
          <ion-col>Last Password Update</ion-col>
        </ion-row>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="key-outline"></ion-icon>
          <ion-label *ngIf="!((account$ | async)?.passwordUpdate)">
            Never Changed
          </ion-label>
          <ion-label *ngIf="((account$ | async)?.passwordUpdate)">
            {{ (account$ | async)?.passwordUpdate| date: 'dd/MM/yyyy, HH:mm:ss'
            }}
          </ion-label>
          <ion-note>
            {{ lastSeen((account$ | async)?.passwordUpdate) }}
          </ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>User Id</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="id-card-outline"></ion-icon>
          <ion-label>{{ (account$ | async)?.$id }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>App Version</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="information-circle-outline"></ion-icon>
          <ion-label>{{ appVersion }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title id="other">Danger Zone</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <!-- <ion-item>
          <ion-icon name="snow-outline"></ion-icon>
          <ion-label (click)="disableAccount()">Froze Account</ion-label>
        </ion-item> -->
        <ion-item>
          <ion-icon name="trash-outline" color="medium"></ion-icon>
          <ion-label color="medium" id="open-modal">Delete Account </ion-label>
        </ion-item>
        <ion-row>
          <ion-col size="12" class="alignItems">
            <small>
              *This action is irreversible. See our
              <ion-label (click)="openDataDeletionLink()" color="primary">
                Data Deletion
              </ion-label>
              policy.
            </small>
          </ion-col>
        </ion-row>
        <ion-note color="medium"></ion-note>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-modal
    trigger="open-modal"
    [initialBreakpoint]="1"
    [breakpoints]="[0, 1]"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Delete Account</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Confirm Deletion</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p style="font-size: larger">Please confirm account deletion:</p>
          <ul style="font-size: larger">
            <li>This action is irreversible.</li>
            <li>All data will be permanently removed.</li>
            <li>Your email will not be reused.</li>
            <li>Data recovery will not be possible.</li>
          </ul>
          <ion-button (click)="modal.dismiss()" color="primary">
            Cancel
          </ion-button>
          <ion-button (click)="deleteAccount()" fill="clear" color="medium">
            Confirm
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ng-template>
  </ion-modal>
</ion-content>

<ion-footer> </ion-footer>
