<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>User Id</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="id-card-outline"></ion-icon>
          <ion-label>{{ (account$ | async)?.$id }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Email</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label>{{ (account$ | async)?.email }}</ion-label>
          <!--
          <ion-buttons slot="end">
            <ion-button size="small" disabled>
              Change
            </ion-button>
          </ion-buttons>
          -->
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Linked Accounts</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngIf="(account$ | async)?.emailVerification">
          <ion-icon name="logo-google"></ion-icon>
          <ion-label>Google Verified Badge</ion-label>
        </ion-item>
        <ion-item *ngIf="!(account$ | async)?.emailVerification">
          <ion-icon name="unlink-outline"></ion-icon>
          <ion-label>None</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Last Seen</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="log-in-outline"></ion-icon>
          <ion-label
            >{{ (currentUser$ | async)?.lastSeen| date: 'dd/MM/yyyy, HH:mm:ss'
            }}
          </ion-label>
          <ion-note>{{ lastSeen((currentUser$ | async)?.lastSeen) }}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Last Password Update</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="key-outline"></ion-icon>
          <ion-label
            >{{ (account$ | async)?.passwordUpdate| date: 'dd/MM/yyyy, HH:mm:ss'
            }}</ion-label
          >
          <ion-note
            >{{ lastSeen((account$ | async)?.passwordUpdate) }}</ion-note
          >
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Other</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="snow-outline"></ion-icon>
          <ion-label (click)="disableAccount()">Froze Account</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="trash-outline" color="medium"></ion-icon>
          <ion-label color="medium" (click)="disableAccount()"
            >Delete Account</ion-label
          >
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer> </ion-footer>
