ion-icon {
  align-self: start;
  margin-top: 10px;
  margin-right: 15px;
  color: var(--ion-color-primary);
}

ion-card-subtitle {
  text-align: end;
}

// Modal
ion-modal {
  --height: auto;
}

// Spinner Sync
.spin {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
