<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Email</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="mail-outline"></ion-icon>
          <ion-label>{{ currentUser?.email }}</ion-label>
          <!--
          <ion-buttons slot="end">
            <ion-button size="small" disabled>
              Change
            </ion-button>
          </ion-buttons>
          -->
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Linked Accounts</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="logo-google"></ion-icon>
          <ion-label>behicsakar@gmail.com</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Last Successful Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="log-in-outline"></ion-icon>
          <ion-label>{{ (currentUser?.lastLogin).toDate() | date: 'dd/MM/yyyy, hh:mm:ss' }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>User Id</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-icon name="id-card-outline"></ion-icon>
          <ion-label>{{ currentUser?.uid }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
</ion-footer>