<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ (user$ | async)?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content
  *ngIf="isLoading"
  class="ion-padding ion-margin"
  style="text-align: center"
>
  <ion-spinner name="dots"></ion-spinner>
</ion-content>
<ion-content class="ion-padding" [fullscreen]="true" *ngIf="!isLoading">
  <ion-card>
    <ion-card-header id="profile-pic">
      <img
        [src]="(user$ | async)?.profilePhoto"
        (click)="openPreview([profilePhoto])"
        style="max-width: 200px"
        alt="Profile Picture"
        referrerpolicy="no-referrer"
      />
      <ion-card-title class=".ion-text-center">
        {{(user$ | async)?.name}}
      </ion-card-title>
      <ion-card-subtitle>
        {{getAge((user$ | async)?.birthdate)}} | {{gender}} | {{(user$ |
        async)?.country}} {{ getFlagEmoji(user$ | async) }}
      </ion-card-subtitle>
      <ion-card-subtitle
        *ngIf="lastSeen((user$ | async)?.lastSeen) != 'online'"
      >
        Active in {{lastSeen((user$ | async)?.lastSeen)}} ago
      </ion-card-subtitle>
      <ion-card-subtitle
        *ngIf="lastSeen((user$ | async)?.lastSeen) === 'online'"
        color="primary"
      >
        Online
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <div class="ion-text-center">
        <ion-button (click)="getRoom()" fill="solid">
          Send A Message 🚀
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>📸 More Photos</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-text *ngIf="otherPhotos?.length == 0">
        Currently, no photos are available.
      </ion-text>
      <swiper-container
        [slidesPerView]="3.5"
        [spaceBetween]="15"
        [centeredSlides]="false"
        initialSlide="0"
        [pagination]="true"
        pagination-dynamic-bullets="true"
        keyboard="true"
        mousewheel="true"
        [zoom]="true"
      >
        <swiper-slide *ngFor="let photo of otherPhotos; let i = index">
          <!-- TODO: Test this following zoom feature on mobile-->
          <div class="swiper-zoom-container">
            <img
              [src]="photo"
              alt="Profile Picture"
              tappable
              (click)="openPreview(otherPhotos)"
              referrerpolicy="no-referrer"
            />
          </div>
        </swiper-slide>
      </swiper-container>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>👤 About Me</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-textarea
          [autoGrow]="true"
          readonly="true"
          rows="3"
          placeholder="There is no biography yet that user updated."
          [value]="(user$ | async)?.aboutMe"
        ></ion-textarea>
      </ion-item>
      <ion-list class="list-icon">
        <ion-item>
          <ion-icon name="flag-outline"></ion-icon>
          <ion-label
            >{{(user$ | async)?.country}} {{ getFlagEmoji(user$ | async)
            }}</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-icon name="male-female-outline"></ion-icon>
          <ion-label>{{gender}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar-number-outline"></ion-icon>
          <ion-label
            >{{getAge((user$ | async)?.birthdate)}} years old</ion-label
          >
        </ion-item>
        <ion-item>
          <ion-icon name="time-outline"></ion-icon>
          <ion-label>
            Registered {{lastSeenExt((user$ | async)?.$createdAt)}} ago
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>🗣️ Mother</ion-card-title>
      <ion-card-subtitle>The language you speak at home 🏡 </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="list-icon">
        <ion-item *ngFor="let lang of motherLanguages">
          <ion-icon name="language-outline"></ion-icon>
          <ion-label>{{lang.name}}</ion-label>
          <ion-note>{{lang.nativeName}}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>📚 Study</ion-card-title>
      <ion-card-subtitle>
        The language(s) that you Practice & Learn 🗣
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="list-icon">
        <ion-item *ngFor="let lang of studyLanguages">
          <ion-icon
            *ngIf="lang.level == 1"
            name="battery-dead-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="lang.level == 2"
            name="battery-half-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="lang.level == 3"
            name="battery-full-outline"
          ></ion-icon>
          <ion-label>{{lang.name}}</ion-label>
          <ion-note>{{lang.nativeName}}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>🏅 Badges</ion-card-title>
      <ion-card-subtitle>Your Achievements 🏆</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row justify-content-center>
          <ion-col size="3" *ngFor="let photo of badges">
            <ion-card-content class="badge-content">
              <img [src]="photo" class="badge-image" />
              <p class="badge-text ion-padding-top">Early Adopter</p>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list lines="none" class="list-icon">
        <!-- Report User -->
        <ion-item id="report-user-modal" detail>
          <ion-icon color="medium" name="alert-circle-outline"></ion-icon>
          <ion-label>Report User</ion-label>
        </ion-item>

        <!-- Block User -->
        <ion-item
          id="block-user-modal"
          [class.ion-hide]="(currentUser$ | async)?.blockedUsers.includes((user$ | async)?.$id)"
          detail
        >
          <ion-icon color="danger" name="ban-outline"></ion-icon>
          <ion-label>Block User</ion-label>
        </ion-item>
        <ion-item
          [class.ion-hide]="!(currentUser$ | async)?.blockedUsers.includes((user$ | async)?.$id)"
        >
          <ion-icon color="danger" name="ban-outline"></ion-icon>
          <ion-label>The user has been blocked.</ion-label>
        </ion-item>
        <ion-row>
          <ion-col size="12" class="alignItems">
            <small>
              *This action is reversible. See our
              <ion-label (click)="openTermsAndPolicyLink()" color="primary">
                Terms & Conditions.
              </ion-label>
            </small>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-modal
  #reportUserModal
  trigger="report-user-modal"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Report User</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-card>
      <ion-card-content>
        <p style="font-size: larger">
          Please confirm that you want to report the following user:
        </p>
        <div class="ion-padding">
          <app-user-list [item]="user$ | async"></app-user-list>
        </div>
        <p>Please provide a reason for reporting this user:</p>
        <ion-textarea
          style="font-size: larger"
          [(ngModel)]="reason"
          fill="solid"
          label="What is the reason?"
          labelPlacement="floating"
          minlength="10"
          maxlength="500"
          counter="true"
        ></ion-textarea>
        <ul>
          <li>This user's activities will be reviewed by our team.</li>
          <li>Appropriate actions will be taken based on your report.</li>
        </ul>
        <ion-button (click)="reportUserModal.dismiss()" color="primary">
          Cancel
        </ion-button>
        <ion-button (click)="reportUser(reason)" fill="clear" color="danger">
          Report
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-modal>

<ion-modal
  #blockUserModal
  trigger="block-user-modal"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Block User</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-card>
      <ion-card-content>
        <p style="font-size: larger">
          Please confirm that the following user will be blocked:
        </p>
        <div class="ion-padding">
          <app-user-list [item]="user$ | async"></app-user-list>
        </div>
        <ul>
          <li>Hide this user's info, including messages, everywhere.</li>
          <li>Access can be restored.</li>
          <li>
            Unblock users at
            <strong>Settings > Privacy > Blocked Users</strong>.
          </li>
        </ul>
        <ion-button (click)="blockUserModal.dismiss()" color="primary">
          Cancel
        </ion-button>
        <ion-button (click)="blockUser()" fill="clear" color="danger">
          Block
        </ion-button>
      </ion-card-content>
    </ion-card>
  </ng-template>
</ion-modal>
