#profile-pic {
  text-align: center;
}

ion-card-header img {
  border-radius: 50%;
  width: 50%;
  margin: auto;
}

.langs ion-icon {
  align-self: start;
  margin-top: 10px;
  margin-right: 29px;
  color: var(--ion-color-primary);
}