#profile-pic {
  text-align: center;
}

ion-card-header img {
  border-radius: 50%;
  width: 50%;
  margin: auto;
}

.list-icon ion-icon {
  align-self: start;
  margin-top: 10px;
  margin-right: 29px;
  color: var(--ion-color-primary);
}

swiper-container {
  --swiper-theme-color: var(--ion-color-primary);
}

.badge-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.badge-image {
  max-width: 60px;
  border-radius: 15px;
}

.badge-text {
  text-align: center;
}

// Modal
ion-modal {
  --height: auto;
}
