<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>

    <ion-buttons slot="end">
      <ion-button
        (click)="editProfile()"
        expand="block"
        size="large"
        slot="icon-only"
        shape="round"
      >
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button
        id="settings-modal"
        expand="block"
        size="large"
        slot="icon-only"
        shape="round"
      >
        <ion-icon name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content
  *ngIf="!(isLoading$ | async)"
  class="ion-padding"
  [fullscreen]="true"
>
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header id="profile-pic">
      <img
        [src]="(currentUser$ | async)?.profilePhoto"
        (click)="openPreview([profilePhoto])"
        alt="Profile Picture"
        referrerpolicy="no-referrer"
      />
      <ion-card-title class=".ion-text-center">
        {{(account$ | async)?.name}}
      </ion-card-title>
      <ion-card-subtitle>
        {{getAge((currentUser$ | async)?.birthdate)}} | {{gender}} |
        {{(currentUser$ | async)?.country}}
      </ion-card-subtitle>
      <ion-card-subtitle
        *ngIf="lastSeen((currentUser$ | async)?.lastSeen) != 'online'"
      >
        Active in {{lastSeen((currentUser$ | async)?.lastSeen)}} ago
      </ion-card-subtitle>
      <ion-card-subtitle
        *ngIf="lastSeen((currentUser$ | async)?.lastSeen) === 'online'"
        color="primary"
      >
        Online
      </ion-card-subtitle>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>About Me</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="none">
        <ion-textarea
          [autoGrow]="true"
          readonly="true"
          rows="3"
          placeholder="You can edit here your profile description."
          [value]="(currentUser$ | async)?.aboutMe"
        ></ion-textarea>
      </ion-item>
      <ion-list class="hasIcon">
        <ion-item>
          <ion-icon name="flag-outline"></ion-icon>
          <ion-label>{{(currentUser$ | async)?.country}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="male-female-outline"></ion-icon>
          <ion-label>{{gender}}</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="calendar-number-outline"></ion-icon>
          <ion-label
            >{{(currentUser$ | async)?.birthdate | date:
            'dd/MM/YYYY'}}</ion-label
          >
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Study Languages</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="hasIcon">
        <ion-item *ngFor="let lang of studyLanguages">
          <ion-icon
            *ngIf="lang.level == 1"
            name="battery-dead-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="lang.level == 2"
            name="battery-half-outline"
          ></ion-icon>
          <ion-icon
            *ngIf="lang.level == 3"
            name="battery-full-outline"
          ></ion-icon>
          <ion-label>{{lang.name}}</ion-label>
          <ion-note>{{lang.nativeName}}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Mother Tongue</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="hasIcon">
        <ion-item *ngFor="let lang of motherLanguages">
          <ion-icon name="language-outline"></ion-icon>
          <ion-label>{{lang.name}}</ion-label>
          <ion-note>{{lang.nativeName}}</ion-note>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Photos</ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <swiper-container
        [slidesPerView]="3.5"
        [spaceBetween]="15"
        [centeredSlides]="false"
        initialSlide="0"
        [pagination]="true"
        pagination-dynamic-bullets="true"
        keyboard="true"
        mousewheel="true"
      >
        <swiper-slide *ngFor="let photo of otherPhotos; let i = index">
          <!-- TODO: Test this following zoom feature on mobile-->
          <div class="swiper-zoom-container">
            <img
              [src]="photo"
              alt="Profile Picture"
              tappable
              (click)="openPreview(otherPhotos)"
              referrerpolicy="no-referrer"
            />
          </div>
        </swiper-slide>
      </swiper-container>
    </ion-card-content>
  </ion-card>
</ion-content>

<!-------------------->
<!-- SKELETON start -->
<!-------------------->

<ion-content
  *ngIf="(isLoading$ | async)"
  class="ion-padding"
  [fullscreen]="true"
>
  <ion-card *ngFor="let i of '01'.split('')">
    <ion-card-header>
      <ion-card-title>
        <ion-skeleton-text
          [animated]="true"
          style="width: 80px"
        ></ion-skeleton-text
      ></ion-card-title>
      <ion-card-subtitle></ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list class="hasIcon">
        <ion-item>
          <ion-label>
            <ion-skeleton-text
              [animated]="true"
              style="width: 80px"
            ></ion-skeleton-text
          ></ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-skeleton-text
              [animated]="true"
              style="width: 80px"
            ></ion-skeleton-text
          ></ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-skeleton-text
              [animated]="true"
              style="width: 80px"
            ></ion-skeleton-text
          ></ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<!------------------>
<!-- MODALS start -->
<!------------------>

<ion-modal
  trigger="settings-modal"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
>
  <div class="block">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Settings</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-list auto-hide="false" *ngFor="let p of appPages; let i = index">
        <ion-item (click)="getAccountPage(p)" [detail]="p.detail">
          <ion-icon aria-hidden="true" slot="start" [name]="p.icon"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </div>
</ion-modal>
