<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>

    <ion-buttons slot="end">
      <ion-button
        (click)="editProfile()"
        expand="block"
        size="large"
        slot="icon-only"
        shape="round"
      >
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button
        id="settings-modal"
        expand="block"
        size="large"
        slot="icon-only"
        shape="round"
      >
        <ion-icon name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <app-pp-card [currentUser]="currentUser$ | async"></app-pp-card>

  <app-other-photos-card
    [otherPics]="(currentUser$ | async)?.otherPics"
  ></app-other-photos-card>

  <app-streaks-card
    [streaks]="(currentUser$ | async)?.streaks"
  ></app-streaks-card>

  <app-aboutme-card
    [currentUser]="currentUser$ | async"
    [account]="account$ | async"
  ></app-aboutme-card>

  <app-languages-card
    [languages]="(currentUser$ | async)?.languages"
  ></app-languages-card>

  <app-badges-card [badges]="(currentUser$ | async)?.badges"></app-badges-card>

  <ion-card>
    <ion-card-content>
      <ion-list class="hasIcon" lines="none">
        <ion-item (click)="getVisitorsPage()" detail>
          <ion-icon name="people-outline"></ion-icon>
          <ion-label>Profile Visitors 👀</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-list class="hasIcon" lines="none">
        <ion-item (click)="publicProfileView()" detail>
          <ion-icon name="eye-outline"></ion-icon>
          <ion-label>View Profile as Public 👁️</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-modal
  trigger="settings-modal"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
>
  <div class="block">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Settings</ion-title>
        </ion-toolbar>
      </ion-header>
      <div class="ion-padding-bottom">
        <ion-list auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item (click)="getSettingPage(p)" [detail]="p.detail">
            <ion-icon
              aria-hidden="true"
              slot="start"
              [name]="p.icon"
              color="{{p?.new ? 'primary' : 'medium'}}"
            ></ion-icon>
            <ion-label> {{ p.title }} </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </ng-template>
  </div>
</ion-modal>
