<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Profile</ion-title>
    
    <ion-buttons slot="end">
      <ion-button (click)="editProfile()" expand="block" size="large" slot="icon-only" shape="round">
        <ion-icon name="create-outline"></ion-icon>
      </ion-button>
      <ion-button id="settings-modal" expand="block" size="large" slot="icon-only" shape="round">
        <ion-icon name="cog-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

    <ion-card>
      <ion-card-header id="profile-pic">
        <img [src]="currentUser?.photo" alt="Profile Picture" referrerpolicy="no-referrer">
        <ion-card-title class=".ion-text-center">{{currentUser?.name}}</ion-card-title>
        <ion-card-subtitle>{{getAge(currentUser?.birthdate)}} | {{currentUser?.gender}} | {{currentUser?.country?.name}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="!currentUser?.online">Active {{lastSeen(currentUser?.lastSeen)}}</ion-card-subtitle>
        <ion-card-subtitle *ngIf="currentUser?.online" color="primary">Online</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>About Me</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item lines="none">
          <ion-textarea
            [autoGrow]="true"
            color="secondary"
            readonly="true"
            rows="3"
            placeholder="You can edit here your profile description."
            [value]="currentUser?.aboutMe"></ion-textarea>
        </ion-item>
        <ion-list class="hasIcon">
          <ion-item>
            <ion-icon name="flag-outline"></ion-icon>
            <ion-label>{{currentUser?.country?.name}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="male-female-outline"></ion-icon>
            <ion-label>{{currentUser?.gender}}</ion-label>
          </ion-item>
          <ion-item>
            <ion-icon name="calendar-number-outline"></ion-icon>
            <ion-label>{{(currentUser?.birthdate)?.toDate() | date: 'dd/MM/YYYY'}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Study Languages</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list class="hasIcon">
          <ion-item *ngFor="let lang of currentUser?.studyLanguages">
            <ion-icon *ngIf="lang.level == 1" name="battery-dead-outline"></ion-icon>
            <ion-icon *ngIf="lang.level == 2" name="battery-half-outline"></ion-icon>
            <ion-icon *ngIf="lang.level == 3" name="battery-full-outline"></ion-icon>
            <ion-label>{{lang.name}}</ion-label>
            <ion-note>{{lang.nativeName}}</ion-note>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Mother Tongue</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list class="hasIcon">
          <ion-item *ngFor="let lang of currentUser?.motherLanguages">
            <ion-icon name="battery-charging-outline"></ion-icon>
            <ion-label>{{lang.name}}</ion-label>
            <ion-note>{{lang.nativeName}}</ion-note>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Photos</ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col><img src="https://i.pravatar.cc/330" alt="Profile Picture" referrerpolicy="no-referrer"></ion-col>
            <ion-col><img src="https://i.pravatar.cc/331" alt="Profile Picture" referrerpolicy="no-referrer"></ion-col>
            <ion-col><img src="https://i.pravatar.cc/332" alt="Profile Picture" referrerpolicy="no-referrer"></ion-col>
          </ion-row>
          <ion-row>
            <ion-col><img src="https://i.pravatar.cc/333" alt="Profile Picture" referrerpolicy="no-referrer"></ion-col>
            <ion-col><img src="https://i.pravatar.cc/334" alt="Profile Picture" referrerpolicy="no-referrer"></ion-col>
            <ion-col><img src="https://i.pravatar.cc/335" alt="Profile Picture" referrerpolicy="no-referrer"></ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

</ion-content>

<ion-modal trigger="settings-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <div class="block">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Settings</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-list auto-hide="false" *ngFor="let p of appPages; let i = index">
        <ion-item (click)="getAccountPage(p)" [detail]="p.detail">
          <ion-icon aria-hidden="true" slot="start" [name]="p.icon"></ion-icon>
          <ion-label>{{ p.title }}</ion-label>
        </ion-item>
      </ion-list>
    </ng-template>
  </div>
</ion-modal>