<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button expand="block" size="large" slot="icon-only" shape="round">
        <ion-icon name="refresh-outline"></ion-icon>
      </ion-button>
      <ion-button id="settings-modal" expand="block" size="large" slot="icon-only" shape="round" color="primary">
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Filters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <ion-card>
      <ion-card-header>
        <ion-card-title>Language</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="langs">
        <ion-item *ngFor="let lang of currentUserData?.studyLanguages" detail="true">
          <ion-icon *ngIf="lang.level == 1" name="battery-dead-outline"></ion-icon>
          <ion-icon *ngIf="lang.level == 2" name="battery-half-outline"></ion-icon>
          <ion-icon *ngIf="lang.level == 3" name="battery-full-outline"></ion-icon>
          <ion-label>
            <h3>{{ lang?.name }}</h3>
            <p>Minimum Level</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>


    <ion-card>
      <ion-card-header>
        <ion-card-title>County</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="langs">
        <ion-item detail="true">
          <ion-icon name="flag-outline"></ion-icon>
          <ion-label>
            <p>No Filter</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Gender</ion-card-title>
      </ion-card-header>
    
      <ion-card-content class="langs">
        <ion-item detail="true">
          <ion-icon name="male-female-outline"></ion-icon>
          <ion-label>
            <p>No Filter</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        <ion-card-title>Age</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-range aria-label="Dual Knobs Range" [dualKnobs]="true" [value]="{ lower: 20, upper: 80 }"></ion-range>
      </ion-card-content>
    </ion-card>

    <!--
    <ion-item lines="full">
      <ion-label position="floating">Full Name</ion-label>
      <ion-input formControlName="name" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password" required></ion-input>
    </ion-item>
    -->
    <ion-row>
      <ion-col>
        <ion-button *ngIf="!isLoading" type="submit" color="primary" expand="block">Apply</ion-button>
        <ion-button *ngIf="isLoading" color="primary" expand="block" disabled>
          <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>