<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/signup/language/step1"
        [disabled]="(isLoading$ | async)"
      ></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        (click)="onSubmit()"
        expand="block"
        size="large"
        slot="icon-only"
        shape="round"
        color="primary"
        [disabled]="(isLoading$ | async)"
      >
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Your Languages</ion-title>
    <ion-progress-bar [value]="progress"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Study Languages</ion-card-title>
      <ion-card-subtitle>
        Which language(s) that you Practice, Learn, Succeed? 🗣️
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-searchbar [(ngModel)]="search"></ion-searchbar>
        <ion-row>
          <ion-col value="start">
            <ion-item
              *ngFor="let lang of languages | customFilter: search"
            >
              <ion-checkbox
                (ionChange)="checkboxChange($event, lang.code)"
                value="{{lang.code}}"
                [disabled]="disabledStatus[lang.code]"
                [checked]="isCheckedStatus[lang.code]"
                labelPlacement="start"
              >
                {{lang.name}}
              </ion-checkbox>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col>
      <ion-button
        [disabled]="(isLoading$ | async)"
        (click)="onSubmit()"
        color="primary"
        expand="block"
      >
        Continue
        <ion-spinner *ngIf="(isLoading$ | async)" name="crescent">
        </ion-spinner>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
