export const PWA_URL = "<PWA_URL>";
export const API_URL = "<API_URL>";
export const DB_URL = "<DB_URL>";

// External URLs
export const WEBSITE_URL = "<WEBSITE_URL>";
export const STATUS_PAGE = "<STATUS_PAGE>";
export const GITHUB_URL = "<GITHUB_URL>";

export const environment = {
  production: true,
  version: '1.0.0',
  bundleId: "<BUNDLE_ID>",
  iosId: 'id0000000000',
  appwrite: {
    APP_ENDPOINT: `${DB_URL}v1`,
    APP_PROJECT: "<APP_PROJECT>",
    APP_DATABASE: "<APP_DATABASE>",
    USERS_COLLECTION: "<USERS_COLLECTION>",
    ROOMS_COLLECTION: "<ROOMS_COLLECTION>",
    MESSAGES_COLLECTION: "<MESSAGES_COLLECTION>",
    LANGUAGES_COLLECTION: "<LANGUAGES_COLLECTION>",
    REPORTS_COLLECTION: "<REPORTS_COLLECTION>",
    VISITS_COLLECTION: "<VISITS_COLLECTION>",
    STREAKS_COLLECTION: "<STREAKS_COLLECTION>"
    USER_BUCKET: "<USER_BUCKET>",
    MESSAGE_BUCKET: "<MESSAGE_BUCKET>",
    AUDIO_BUCKET: "<AUDIO_BUCKET>",
  },
  firebaseConfig: {
    apiKey: "<API_KEY>",
    authDomain: "<AUTH_DOMAIN>",
    projectId: "<PROJECT_ID>",
    storageBucket: "<STORAGE_BUCKET>",
    messagingSenderId: "<MESSAGING_SENDER_ID>",
    appId: "<APP_ID>",
  },
  url: {
    HOMEPAGE_URL: PWA_URL,
    RESET_PASSWORD_URL: `${PWA_URL}reset-password/new`,
    SIGNUP_COMPLETE_URL: `${PWA_URL}signup/complete`,
    AUTH_PROVIDER_URL: `${PWA_URL}auth/provider`,
    SUCCESS_OAUTH2: `${PWA_URL}auth/oauth2/success`,
    FAILURE_OAUTH2: `${PWA_URL}auth/oauth2/failure`,
    VERIFY_EMAIL: `${PWA_URL}auth/verify-email`,
    BADGES: `${PWA_URL}assets/image/badges`,
  },
  api: {
    UPDATE: `${API_URL}api/update`,
    ROOM: `${API_URL}api/room`,
    MESSAGE: `${API_URL}api/message`,
    USER: `${API_URL}api/user`,
    LANGUAGE: `${API_URL}api/language`,
    VISIT: `${API_URL}api/visit`,
  },
  ext: {
    STATUS_PAGE: STATUS_PAGE,
    GITHUB_URL: GITHUB_URL,
    WEBSITE_URL: WEBSITE_URL,
    PRIVACY_POLICY_URL: `${WEBSITE_URL}privacy-policy`,
    TERMS_AND_CONDITIONS_URL: `${WEBSITE_URL}terms-conditions`,
    COOKIES_POLICY_URL: `${WEBSITE_URL}cookie-policy`,
    DATA_DELETION_URL: `${WEBSITE_URL}data-deletion`,
    RELEASES_URL: `${GITHUB_URL}your_repo/releases`,
    BSD3_LICENSE_URL: `${GITHUB_URL}your_repo/blob/main/LICENSE`,
    MIT_LICENSE_URL: `${GITHUB_URL}your_repo/blob/main/LICENSE`,
    CODE_OF_CONDUCT: `${GITHUB_URL}your_repo/blob/main/CODE_OF_CONDUCT.md`,
    CONTRIBUTING: `${GITHUB_URL}your_repo/blob/main/CONTRIBUTING.md`,
    SECURITY_PAGE: `${GITHUB_URL}your_repo/blob/main/SECURITY.md`,
    ISSUES: `${GITHUB_URL}your_repo/issues`,
    SPONSOR: `https://github.com/sponsors/languageXchange`,
    socialMedia: {
      instagram: '',
      facebook: '',
      twitter: '',
      telegram: '',
      tiktok: '',
      youtube: '',
      discord: '',
      bluesky: '',
      linkedin: '',
    },
  },
  opts: {
    PAGINATION_LIMIT: 25,
  },
  defaultAssets: {
    PP_ID: '',
    DELETED_PP_ID: '',
};
