<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Contributors 😊</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title>How to Contribute?</ion-card-title>
      <ion-card-subtitle>
        🤝 We welcome you to join our team!
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>🛡️ Ensuring a Safe Environment</p>
      <p>🚀 Spreading the Open-source App</p>
      <p>🎬 Crafting Stories with Video</p>
      <p>🎨 Branding and Rebranding</p>
      <p>🌐 Making It Accessible for Everyone</p>
      <p>🤝 Building Bridges with Our Users</p>
      <p>🚀 Making better SEO and ASO</p>
      <p>🏠 Crafting Our Digital Home</p>
      <p>📣 Amplifying Our Voice on Social Media</p>
      <p>🔍 Helping Us Improve Features</p>
      <p>✨ You can create new one</p>
      <ion-list>
        <ion-item (click)="openDiscordPage()">
          <ion-icon name="logo-discord"></ion-icon>
          <ion-label>Get Your Invitation Link</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Fundamentals</ion-card-title>
      <ion-card-subtitle> ✨ You can also Make a Difference </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ng-container *ngFor="let user of users$ | async">
            <ion-col
              size="6"
              sizeSm="4"
              sizeMd="4"
              sizeLg="3"
              sizeXl="2"
              style="padding: 10px"
            >
              <app-user-list
                *ngIf="!(currentUser$ | async)?.blockedUsers.includes(user?.$id)"
                [item]="user"
                (onClick)="getProfilePage(user?.$id)"
              >
              </app-user-list>
            </ion-col>
          </ng-container>
        </ion-row>
        <ion-row>
          <ion-col>
            <app-empty-screen
              *ngIf="(users$ | async)?.length == 0"
              [model]="noUser"
            >
            </app-empty-screen>
          </ion-col>
        </ion-row>
      </ion-grid>
      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-grid *ngIf="isLoading$ | async">
        <ion-row>
          <ng-container *ngFor="let i of '01234567890123456789'.split('')">
            <ion-col
              size="6"
              sizeSm="4"
              sizeMd="4"
              sizeLg="3"
              sizeXl="2"
              style="padding: 10px"
            >
              <ion-card>
                <ion-card-content>
                  <h3>
                    <ion-skeleton-text
                      [animated]="true"
                      style="width: 80%"
                    ></ion-skeleton-text>
                  </h3>
                  <p>
                    <ion-skeleton-text
                      [animated]="true"
                      style="width: 60%"
                    ></ion-skeleton-text>
                  </p>
                  <p>
                    <ion-skeleton-text
                      [animated]="true"
                      style="width: 30%"
                    ></ion-skeleton-text>
                  </p>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>
</ion-content>
