<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Contributors 😊</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Codebase</ion-card-title>
      <ion-card-subtitle> ✨ You can also Make a Difference </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!(isLoading$ | async)">
        <ng-container *ngFor="let user of (users$ | async)">
          <app-user-list
            [item]="user"
            *ngIf="user?.contributors.includes('codebase')"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
        <app-empty-screen *ngIf="isEmpty$('codebase') | async" [model]="model">
        </app-empty-screen>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '01'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text
                [animated]="true"
                style="width: 40%"
              ></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 50%"
              ></ion-skeleton-text>
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Digital Marketing</ion-card-title>
      <ion-card-subtitle> 🚀 Spreading the Open-source App </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!(isLoading$ | async)">
        <ng-container *ngFor="let user of (users$ | async)">
          <app-user-list
            *ngIf="user?.contributors.includes('digital-marketing')"
            [item]="user"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
        <app-empty-screen
          *ngIf="isEmpty$('digital-marketing') | async"
          [model]="model"
        >
        </app-empty-screen>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '01'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text
                [animated]="true"
                style="width: 40%"
              ></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 50%"
              ></ion-skeleton-text>
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Design</ion-card-title>
      <ion-card-subtitle> 🎨 Branding and Rebranding </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!(isLoading$ | async)">
        <ng-container *ngFor="let user of (users$ | async)">
          <app-user-list
            *ngIf="user?.contributors.includes('design')"
            [item]="user"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
        <app-empty-screen *ngIf="isEmpty$('design') | async" [model]="model">
        </app-empty-screen>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '01'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text
                [animated]="true"
                style="width: 40%"
              ></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 50%"
              ></ion-skeleton-text>
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Storyteller</ion-card-title>
      <ion-card-subtitle> 🎬 Crafting Stories with Video</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!(isLoading$ | async)">
        <ng-container *ngFor="let user of (users$ | async)">
          <app-user-list
            *ngIf="user?.contributors.includes('storyteller')"
            [item]="user"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
        <app-empty-screen
          *ngIf="isEmpty$('storyteller') | async"
          [model]="model"
        >
        </app-empty-screen>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '01'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text
                [animated]="true"
                style="width: 40%"
              ></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 50%"
              ></ion-skeleton-text>
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Social Media</ion-card-title>
      <ion-card-subtitle> 📣 Amplifying Our Voice </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!(isLoading$ | async)">
        <ng-container *ngFor="let user of (users$ | async)">
          <app-user-list
            *ngIf="user?.contributors.includes('social-media')"
            [item]="user"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
        <app-empty-screen
          *ngIf="isEmpty$('social-media') | async"
          [model]="model"
        >
        </app-empty-screen>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '01'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text
                [animated]="true"
                style="width: 40%"
              ></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 50%"
              ></ion-skeleton-text>
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Growth Hacker</ion-card-title>
      <ion-card-subtitle> 🚀 Master of SEO and ASO</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!(isLoading$ | async)">
        <ng-container *ngFor="let user of (users$ | async)">
          <app-user-list
            *ngIf="user?.contributors.includes('growth-hacker')"
            [item]="user"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
        <app-empty-screen
          *ngIf="isEmpty$('growth-hacker') | async"
          [model]="model"
        >
        </app-empty-screen>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '01'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text
                [animated]="true"
                style="width: 40%"
              ></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 50%"
              ></ion-skeleton-text>
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Website</ion-card-title>
      <ion-card-subtitle> 🏠 Crafting Our Digital Home</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!(isLoading$ | async)">
        <ng-container *ngFor="let user of (users$ | async)">
          <app-user-list
            *ngIf="user?.contributors.includes('website')"
            [item]="user"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
        <app-empty-screen *ngIf="isEmpty$('website') | async" [model]="model">
        </app-empty-screen>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '01'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text
                [animated]="true"
                style="width: 40%"
              ></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 50%"
              ></ion-skeleton-text>
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Accessibility</ion-card-title>
      <ion-card-subtitle>
        🌐 Making User-friendly for Everyone
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!(isLoading$ | async)">
        <ng-container *ngFor="let user of (users$ | async)">
          <app-user-list
            *ngIf="user?.contributors.includes('accessibility')"
            [item]="user"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
        <app-empty-screen
          *ngIf="isEmpty$('accessibility') | async"
          [model]="model"
        >
        </app-empty-screen>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '01'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text
                [animated]="true"
                style="width: 40%"
              ></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 50%"
              ></ion-skeleton-text>
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>User Relations</ion-card-title>
      <ion-card-subtitle>
        🤝 Building Bridges with Our Users
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!(isLoading$ | async)">
        <ng-container *ngFor="let user of (users$ | async)">
          <app-user-list
            *ngIf="user?.contributors.includes('user-relations')"
            [item]="user"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
        <app-empty-screen
          *ngIf="isEmpty$('user-relations') | async"
          [model]="model"
        >
        </app-empty-screen>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '01'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text
                [animated]="true"
                style="width: 40%"
              ></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 50%"
              ></ion-skeleton-text>
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tester</ion-card-title>
      <ion-card-subtitle> 🔍 Helping Us Improve Features</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!(isLoading$ | async)">
        <ng-container *ngFor="let user of (users$ | async)">
          <app-user-list
            *ngIf="user?.contributors.includes('tester')"
            [item]="user"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
        <app-empty-screen *ngIf="isEmpty$('tester') | async" [model]="model">
        </app-empty-screen>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '01'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text
                [animated]="true"
                style="width: 40%"
              ></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 50%"
              ></ion-skeleton-text>
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>
</ion-content>
