<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Contributors 😊</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Codebase</ion-card-title>
      <ion-card-subtitle>
        ✨ You can also make a difference!
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!(isLoading$ | async)">
        <ng-container *ngFor="let user of (users$ | async)">
          <app-user-list
            [item]="user"
            *ngIf="user?.contributors.includes('codebase')"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '01'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text
                [animated]="true"
                style="width: 40%"
              ></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 50%"
              ></ion-skeleton-text>
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Digital Marketing</ion-card-title>
      <ion-card-subtitle> 🚀 Spread the open-source app! </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!(isLoading$ | async)">
        <ng-container *ngFor="let user of (users$ | async)">
          <app-user-list
            *ngIf="user?.contributors.includes('digital-marketing')"
            [item]="user"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '01'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text
                [animated]="true"
                style="width: 40%"
              ></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 50%"
              ></ion-skeleton-text>
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Growth Hacker</ion-card-title>
      <ion-card-subtitle> 🚀 Master of SEO and ASO </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!(isLoading$ | async)">
        <ng-container *ngFor="let user of (users$ | async)">
          <app-user-list
            *ngIf="user?.contributors.includes('growth-hacker')"
            [item]="user"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '01'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text
                [animated]="true"
                style="width: 40%"
              ></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 50%"
              ></ion-skeleton-text>
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Accessibility</ion-card-title>
      <ion-card-subtitle>
        🌐 Making it user-friendly for everyone!
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!(isLoading$ | async)">
        <ng-container *ngFor="let user of (users$ | async)">
          <app-user-list
            *ngIf="user?.contributors.includes('accessibility')"
            [item]="user"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '01'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text
                [animated]="true"
                style="width: 40%"
              ></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 50%"
              ></ion-skeleton-text>
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>User Relations</ion-card-title>
      <ion-card-subtitle>
        🤝 Building Bridges with Our Users
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!(isLoading$ | async)">
        <ng-container *ngFor="let user of (users$ | async)">
          <app-user-list
            *ngIf="user?.contributors.includes('user-relations')"
            [item]="user"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '01'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text
                [animated]="true"
                style="width: 40%"
              ></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 50%"
              ></ion-skeleton-text>
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Tester</ion-card-title>
      <ion-card-subtitle> 🔍 Help us improve features! </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngIf="!(isLoading$ | async)">
        <ng-container *ngFor="let user of (users$ | async)">
          <app-user-list
            *ngIf="user?.contributors.includes('tester')"
            [item]="user"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '01'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h2>
              <ion-skeleton-text
                [animated]="true"
                style="width: 40%"
              ></ion-skeleton-text>
            </h2>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 50%"
              ></ion-skeleton-text>
            </p>
            <p></p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>
</ion-content>
