<ion-card *ngIf="(otherPics$ | async)?.length > 0">
  <ion-card-header>
    <ion-card-title>Other Photos</ion-card-title>
    <ion-card-subtitle>Photos Collection</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-text *ngIf="(otherPics$ | async)?.length === null">
      Currently, no photos are available.
    </ion-text>
    <swiper-container
      class="ion-padding"
      [slidesPerView]="3.5"
      [spaceBetween]="15"
      [centeredSlides]="false"
      initialSlide="0"
      [pagination]="true"
      pagination-dynamic-bullets="true"
      keyboard="true"
      mousewheel="true"
    >
      <swiper-slide *ngFor="let photo of otherPics$ | async; let i = index">
        <!-- #471 TODO : Test this following zoom feature on mobile -->
        <div class="swiper-zoom-container">
          <img
            [src]="photo"
            alt="Profile Picture"
            tappable
            (click)="openPreview(otherPics$)"
            referrerpolicy="no-referrer"
          />
        </div>
      </swiper-slide>
    </swiper-container>
  </ion-card-content>
</ion-card>
