.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container ion-checkbox {
  margin-right: 10px;
}
