<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
    <ion-progress-bar [value]="progress"></ion-progress-bar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item lines="full">
      <ion-label position="floating">Full Name</ion-label>
      <ion-input
        formControlName="name"
        type="text"
        [readonly]="(isLoading$ | async)"
        [disabled]="(isLoading$ | async)"
        required
      ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input
        formControlName="email"
        type="text"
        [readonly]="(isLoading$ | async)"
        [disabled]="(isLoading$ | async)"
        required
      ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input
        formControlName="password"
        type="password"
        [readonly]="(isLoading$ | async)"
        [disabled]="(isLoading$ | async)"
        required
      ></ion-input>
    </ion-item>
    <ion-row class="ion-margin-vertical">
      <ion-col size="12" class="alignItems">
        <div align="left">
          <ion-checkbox></ion-checkbox>
          <ion-note>I accept the policy and terms</ion-note>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button
          [disabled]="(isLoading$ | async)"
          type="submit"
          color="primary"
          expand="block"
        >
          Sign Up
          <ion-spinner *ngIf="(isLoading$ | async)" name="crescent">
          </ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
