<p>streaks-card works!</p>

<ion-card>
  <ion-card-header>
    <ion-card-title>🔗 Day Streaks</ion-card-title>
    <ion-card-subtitle> Don't break the chain 🔥 </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item lines="none" (click)="openLeaderboard()" detail>
        <ion-thumbnail slot="start">
          <img
            alt="Do not break the chain"
            src="/assets/image/badges/chain.png"
          />
        </ion-thumbnail>
        <ion-label>
          <h1 *ngIf="streaks">
            {{ streaks["daystreak"] }}
          </h1>
          <p *ngIf="!streaks">No streaks available</p>
        </ion-label>
        <div class="metadata-end-wrapper" slot="end">
          <!-- <ion-note>#{{getLeaderBoardOrder()}}</ion-note> -->
        </div>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
