ion-modal {
  --height: auto;
}

#profile-pic {
  text-align: center;
}

ion-card-header img {
  border-radius: 10px;
  width: 50%;
  margin: auto;
  max-width: 300px;
}

.contributor {
  border: 3px solid var(--ion-color-primary);
}

.sponsor {
  border: 3px solid var(--ion-color-secondary);
}
