<ion-card>
  <ion-card-header id="profile-pic">
    <!-- <img
      [src]="profilePic$ | async"
      (click)="openPreview(profilePic$)"
      alt="Profile Picture"
      referrerpolicy="no-referrer"
      [class.contributor]="(currentUser$ | async)?.contributors && (currentUser$ | async)?.contributors.length > 0"
      [class.sponsor]="(currentUser$ | async)?.sponsor"
    /> -->
    <ion-card-title class=".ion-text-center">
      {{ currentUser?.name }}
    </ion-card-title>
    <ion-card-subtitle>
      {{ getAge(currentUser?.birthdate) }} |
      {{ currentUser?.gender | capitalizeFirst }} |
      {{ currentUser?.country }}
      {{ getFlagEmoji(currentUser) }}
    </ion-card-subtitle>
    <ion-card-subtitle *ngIf="lastSeen(currentUser?.lastSeen) != 'online'">
      Active in {{ lastSeen(currentUser?.lastSeen) }} ago
    </ion-card-subtitle>
    <ion-card-subtitle
      *ngIf="lastSeen(currentUser?.lastSeen) === 'online'"
      color="primary"
    >
      Online
    </ion-card-subtitle>
  </ion-card-header>
</ion-card>
