<ion-card>
  <ion-card-header id="profile-pic">
    <img
      [src]="profilePic$ | async"
      (click)="openPreview(profilePic$)"
      alt="Profile Picture"
      referrerpolicy="no-referrer"
      [class.contributor]="user?.contributors && user?.contributors.length > 0"
      [class.sponsor]="user?.sponsor"
    />
    <ion-card-title class=".ion-text-center">
      {{ user?.name }}
    </ion-card-title>
    <ion-card-subtitle>
      {{ getAge(user?.birthdate) }} | {{ gender | capitalizeFirst }} |
      {{ user?.country }}
      {{ getFlagEmoji(user) }}
    </ion-card-subtitle>
    <ion-card-subtitle *ngIf="lastSeen(user?.lastSeen) != 'online'">
      Active in {{ lastSeen(user?.lastSeen) }} ago
    </ion-card-subtitle>
    <ion-card-subtitle
      *ngIf="lastSeen(user?.lastSeen) === 'online'"
      color="primary"
    >
      Online
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content *ngIf="msgButton">
    <div class="ion-text-center">
      <ion-button (click)="getRoom()" [disabled]="isLoading" fill="solid">
        <ion-spinner *ngIf="isLoading" name="dots" slot="start"></ion-spinner>
        Send A Message 🚀
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>
