ion-thumbnail {
  --size: 75px;
  margin-top: 5px;
  margin-bottom: 5px;
  --border-radius: 10px;
}

.hasInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hasIcon ion-icon {
  align-self: start;
  margin-top: 10px;
  margin-right: 29px;
  color: var(--ion-color-primary);
}
