<ion-card>
  <ion-card-header>
    <ion-card-title>Study Language(s)</ion-card-title>
    <ion-card-subtitle>
      The language(s) that you Practice & Learn
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list class="hasIcon" lines="none">
      <ion-item *ngFor="let lang of studyLanguages">
        <ion-icon
          *ngIf="lang.level === 0"
          name="battery-dead-outline"
        ></ion-icon>
        <ion-icon
          *ngIf="lang.level === 1"
          name="battery-half-outline"
        ></ion-icon>
        <ion-icon
          *ngIf="lang.level === 2"
          name="battery-full-outline"
        ></ion-icon>
        <ion-icon *ngIf="lang.level === 3" name="rocket-outline"></ion-icon>
        <ion-label>{{ lang.name }}</ion-label>
        <ion-note>{{ lang.nativeName }}</ion-note>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Mother Tongue(s)</ion-card-title>
    <ion-card-subtitle> The language(s) you speak at home </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list class="hasIcon" lines="none">
      <ion-item *ngFor="let lang of motherLanguages">
        <ion-icon name="language-outline"></ion-icon>
        <ion-label>{{ lang.name }}</ion-label>
        <ion-note>{{ lang.nativeName }}</ion-note>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
