<ion-header>
  <ion-toolbar>
    <ion-title>Minimum Level of {{langName}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list class="langs">
    <ion-radio-group (ionChange)="radioChange($event)">
      <ion-list>
        <ion-item>
          <ion-icon name="battery-dead-outline"></ion-icon>
          <ion-radio value="1">Beginner</ion-radio><br />
        </ion-item>          
        <ion-item>
          <ion-icon name="battery-half-outline"></ion-icon>
          <ion-radio value="2">Intermediate</ion-radio><br />
        </ion-item>          
        <ion-item>
          <ion-icon name="battery-full-outline"></ion-icon>
          <ion-radio value="3">Fluent</ion-radio>
        </ion-item>          
      </ion-list>
    </ion-radio-group>
  </ion-list>
</ion-content>