ion-toolbar {
  --background: transparent;
  border: none;
}

swiper-container {
  width: 100%;
  height: 100%;
  --swiper-theme-color: var(--ion-color-primary);
}

swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 20px;
}
