<ion-header class="ion-no-border">
  <ion-toolbar></ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="false">
    <ion-fab-button (click)="close()" size="small" color="medium">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <swiper-container
    #slides
    [slidesPerView]="1"
    [spaceBetween]="10"
    [centeredSlides]="true"
    keyboard="true"
    mousewheel="true"
  >
    <swiper-slide>
      <div class="swiper-zoom-container">
        <div class="slider">
          <svg height="50" width="150">
            <circle
              id="english"
              cx="25"
              cy="25"
              r="20"
              stroke="black"
              stroke-width="2"
              fill="red"
            />
            <circle
              id="spanish"
              cx="75"
              cy="25"
              r="20"
              stroke="black"
              stroke-width="2"
              fill="transparent"
            />
            <circle
              id="french"
              cx="125"
              cy="25"
              r="20"
              stroke="black"
              stroke-width="2"
              fill="yellow"
            />
          </svg>
        </div>
      </div>
      <ion-button
        (click)="nextSlide()"
        size="small"
        class="ion-padding ion-margin"
      >
        Next
      </ion-button>
    </swiper-slide>
    <swiper-slide>
      <div class="swiper-zoom-container">
        <img
          src="https://i.pravatar.cc/301"
          alt="Intro Image"
          referrerpolicy="no-referrer"
        />
      </div>
      <ion-button
        (click)="nextSlide()"
        size="small"
        class="ion-padding ion-margin"
      >
        Next
      </ion-button>
    </swiper-slide>
    <swiper-slide>
      <div class="swiper-zoom-container">
        <img
          src="https://i.pravatar.cc/302"
          alt="Intro Image"
          referrerpolicy="no-referrer"
        />
      </div>
      <ion-button
        (click)="onFinish()"
        size="small"
        class="ion-padding ion-margin"
      >
        Done !
      </ion-button>
    </swiper-slide>
  </swiper-container>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar></ion-toolbar>
</ion-footer>
