<ion-content [fullscreen]="true" scrollY="false">
  <swiper-container
    #slides
    [slidesPerView]="1"
    [spaceBetween]="10"
    [centeredSlides]="true"
    keyboard="true"
    mousewheel="true"
  >
    <swiper-slide>
      <div class="swiper-zoom-container">
        <img
          class="intro-image"
          src="/assets/image/intro01.png"
          alt="Intro Image"
          referrerpolicy="no-referrer"
        />
        <ion-text color="light">
          <h1>Join the community!</h1>
        </ion-text>
        <div class="button-container">
          <ion-button
            (click)="close()"
            size="small"
            fill="clear"
            class="skip-button"
          >
            Skip
          </ion-button>
          <ion-button
            (click)="nextSlide()"
            size="small"
            color="light"
            slot="right"
            class="next-button"
          >
            Next
          </ion-button>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="swiper-zoom-container">
        <img
          class="intro-image"
          src="/assets/image/intro02.png"
          alt="Intro Image"
          referrerpolicy="no-referrer"
        />
        <ion-text color="light">
          <h1>Find a partner!</h1>
        </ion-text>
        <div class="button-container">
          <ion-button
            (click)="close()"
            size="small"
            fill="clear"
            class="skip-button"
          >
            Skip
          </ion-button>
          <ion-button
            (click)="nextSlide()"
            size="small"
            color="light"
            slot="right"
            class="next-button"
          >
            Next
          </ion-button>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide>
      <div class="swiper-zoom-container">
        <img
          class="intro-image"
          src="/assets/image/intro03.png"
          alt="Intro Image"
          referrerpolicy="no-referrer"
        />
        <ion-text color="light">
          <h1>Start talking!</h1>
        </ion-text>
        <div class="button-container">
          <ion-button
            (click)="close()"
            size="small"
            fill="clear"
            class="skip-button"
          >
            Skip
          </ion-button>
          <ion-button
            (click)="close()"
            size="small"
            color="light"
            slot="right"
            class="next-button"
          >
            Done
          </ion-button>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
