<!-- Receiver -->
<ion-item *ngIf="msg?.sender != current_user_id" lines="none">
  <div class="message-body">
    <div class="message-main-receiver">
      <div class="receiver">
        <div class="message-text">
          <!-- Text message -->
          <span *ngIf="msg?.type == 'body'">{{ msg?.body }}</span>

          <!-- Image message -->
          <img
            *ngIf="msg?.type == 'image'"
            [src]="msg?.image"
            alt="Image message"
            referrerpolicy="no-referrer"
          />

          <!-- Audio message -->
          <audio controls *ngIf="msg?.type == 'audio'">
            <source [src]="msg?.audio" type="audio/ogg" />
            Your browser does not support the audio element.
          </audio>
        </div>
        <span class="message-time">
          {{ messageTime(msg?.$createdAt) }}
        </span>
      </div>
    </div>
  </div>
</ion-item>

<!-- Sender -->
<ion-item *ngIf="msg?.sender == current_user_id" lines="none">
  <div class="message-body">
    <div class="message-main-sender">
      <div class="sender">
        <div class="message-text">
          <!-- Text message -->
          <span *ngIf="msg?.type == 'body'">{{ msg?.body }}</span>

          <!-- Image message -->
          <img
            *ngIf="msg?.type == 'image'"
            [src]="msg?.image"
            alt="Image message"
            referrerpolicy="no-referrer"
          />

          <!-- Audio message -->
          <audio controls *ngIf="msg?.type == 'audio'">
            <source [src]="msg?.audio" type="audio/ogg" />
            Your browser does not support the audio element.
          </audio>

          <span class="message-time" *ngIf="msg?.$createdAt">
            {{ messageTime(msg?.$createdAt) }}
            <ion-icon *ngIf="!msg?.seen" name="checkmark-outline"></ion-icon>
            <ion-icon
              *ngIf="msg?.seen"
              name="checkmark-circle-outline"
            ></ion-icon>
          </span>
          <span class="message-time" *ngIf="!msg?.$createdAt">
            <ion-icon name="cloud-upload-outline"></ion-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</ion-item>
