img {
  width: auto;
  height: auto;
}

.message-body {
  margin: 0 !important;
  padding: 0 !important;
  width: 100%;
  height: auto;
}

.message-main-receiver {
  padding: 5px !important;
  float: left;
  float: inline-start;
  max-width: 80%;
  min-height: 55px;
}

.message-main-sender {
  padding: 5px !important;
  float: right;
  float: inline-end;
  max-width: 80%;
  min-height: 55px;
}

.message-text {
  display: contents;
  margin: 0 !important;
  padding: 5px !important;
  font-size: 15px;
  padding-bottom: 0 !important;
  word-wrap: break-word;
  white-space: pre-line;
}

.message-time {
  position: absolute;
  bottom: 0;
  right: 1px;
  font-size: 9px;
  font-weight: 200;
  text-align: right;
  float: right;
  padding: 5px !important;
}

.selectable {
  user-select: text;
  -webkit-user-select: text; /* For Safari and Chrome */
  -moz-user-select: text; /* For Firefox */
  -ms-user-select: text; /* For IE10+/Edge */
}

.receiver {
  position: relative;
  width: auto !important;
  padding: 10px 30px 15px 10px !important;
  border-radius: 10px 10px 10px 0;
  background: var(--ion-color-light) !important;
  color: var(--ion-color-light-contrast) !important;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
}

.sender {
  position: relative;
  width: auto !important;
  background: var(--ion-color-primary) !important;
  color: var(--ion-color-primary-contrast);
  border-radius: 10px 10px 0 10px;
  padding: 10px 30px 15px 10px !important;
  font-size: 12px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  word-wrap: break-word;
  text-align: right;
}

.reply-text {
  border-radius: 10px;
  padding: 5px !important;
  font-size: 15px;
  padding-bottom: 0 !important;
  word-wrap: break-word;
  white-space: pre-line;
}

.reply-text-sender {
  background: var(--ion-color-primary-shade) !important;
  color: var(--ion-color-primary-contrast);
}

.reply-text-receiver {
  background: var(--ion-color-light-shade) !important;
  color: var(--ion-color-light-contrast) !important;
}
