<ion-item *ngIf="msg?.sender != current_user_id" lines="none">
  <div class="message-body">
    <div class="message-main-receiver">
      <div class="receiver">
        <div class="message-text">
          {{ msg?.body }}
          <img *ngIf="msg?.isImage" [src]="msg?.image" alt="Image message">
        </div>
        <span class="message-time">
          {{ messageTime(msg?.$createdAt) }}
        </span>
      </div>
    </div>
  </div>
</ion-item>

<ion-item *ngIf="msg?.sender == current_user_id" lines="none">
  <div class="message-body">
    <div class="message-main-sender">
      <div class="sender">
        <div class="message-text">
          {{ msg?.body }}
          <img *ngIf="msg?.isImage" [src]="msg?.image" alt="Image message">
          <span class="message-time" *ngIf="msg?.$createdAt">
            {{ messageTime(msg?.$createdAt) }}
            <ion-icon *ngIf="!msg?.seen" name="checkmark-outline"></ion-icon>
            <ion-icon *ngIf="msg?.seen" name="checkmark-circle-outline"></ion-icon>
          </span>
          <span class="message-time" *ngIf="!msg?.$createdAt">
            <ion-icon name="cloud-upload-outline"></ion-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</ion-item>