<ion-item *ngIf="chat?.sender != current_user_id" lines="none">
  <div class="message-body">
    <div class="message-main-receiver">
      <div class="receiver">
        <div class="message-text">
          {{ chat?.body }}
        </div>
        <span class="message-time">
          {{ messageTime(chat?.$createdAt) }}
        </span>
      </div>
    </div>
  </div>
</ion-item>

<ion-item *ngIf="chat?.sender == current_user_id" lines="none">
  <div class="message-body">
    <div class="message-main-sender">
      <div class="sender">
        <div class="message-text">
          {{ chat?.body }}
          <span class="message-time" *ngIf="chat?.$createdAt">
            {{ messageTime(chat?.$createdAt) }}
          </span>
          <span class="message-time" *ngIf="!chat?.$createdAt">
            <ion-icon name="cloud-upload-outline"></ion-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
</ion-item>
