<ion-header class="ion-no-border">
  <ion-toolbar style="--background: transparent"></ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="false">
    <ion-fab-button (click)="close()" size="small" color="medium">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-card>
    <ion-card-header>
      <ion-card-title>🎉 New Badge Unlocked!</ion-card-title>
      <ion-card-subtitle>Early Adopter Badge</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>
        Congratulations! You've just unlocked a new badge. Keep up the good
        work!
      </p>
      <img
        class="badge-image ion-padding"
        src="/assets/image/badges/early-adopter.png"
        alt="Badge Image"
        referrerpolicy="no-referrer"
      />
      <ion-button expand="block" (click)="close()">Got it!</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
