<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Appearance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-content>
      <ion-list>
          <ion-radio-group value="mode">
          <ion-item>
            <ion-icon name="sunny-outline"></ion-icon>
            <ion-radio value="light">Day Mode</ion-radio><br />
          </ion-item>
          <ion-item>
            <ion-icon name="moon-outline"></ion-icon>
            <ion-radio value="night">Night Mode</ion-radio><br />
          </ion-item>
          <ion-item>
            <ion-icon name="contrast-outline"></ion-icon>
            <ion-radio value="auto">Automatic</ion-radio><br />
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>