<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Appearance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-radio-group value="strawberries">
      <ion-item>
        <ion-radio value="dark">Dark Mode</ion-radio>
      </ion-item>
      <ion-item>
        <ion-radio value="light">Light Mode</ion-radio><br />
      </ion-item>
      <ion-item>
        <ion-radio value="automatic">Automatic</ion-radio><br />
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>