<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Complete Your Profile</ion-title>
    <ion-progress-bar [value]="progress"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item lines="full">
      <ion-input
        formControlName="birthdate"
        label="Date of Birth"
        placeholder="DD/MM/YYYY"
        labelPlacement="floating"
        type="text"
        maxlength="10"
        required
        [value]="form.get('birthdate').value | dateMask"
      ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input
        id="gender-modal"
        class="capitalize"
        formControlName="gender"
        label="Gender"
        labelPlacement="floating"
        type="text"
        [readonly]="true"
        required
      >
      </ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-input
        id="country-modal"
        formControlName="country"
        label="Country of Residence"
        labelPlacement="floating"
        type="text"
        [readonly]="true"
        required
      >
      </ion-input>
    </ion-item>

    <ion-note>You must be at least 13 years old to use this app.</ion-note>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">
          Continue
          <ion-spinner *ngIf="(isLoading$ | async)" name="crescent">
          </ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>

<!------------------>
<!-- MODALS start -->
<!------------------>

<!-- Country Modal -->
<ion-modal
  #countryModal
  trigger="country-modal"
  [initialBreakpoint]="0.3"
  [breakpoints]="[0.3, 0.8]"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Country</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="countryModal.dismiss()" color="primary">
            Confirm
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-searchbar
        [(ngModel)]="searchTerm"
        placeholder="Search"
        (click)="countryModal.setCurrentBreakpoint(0.8)"
      ></ion-searchbar>
      <ion-list>
        <ion-radio-group value="start" (ionChange)="countryChange($event)">
          <ion-item
            *ngFor="let country of (countries$ | async)?.countries | customFilter: searchTerm"
          >
            <ion-radio value="{{ country?.code }}" labelPlacement="start">
              {{ country?.name }}
            </ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-content>
  </ng-template>
</ion-modal>

<!-- Gender Modal -->
<ion-modal
  #genderModal
  trigger="gender-modal"
  class="modalClass"
  [initialBreakpoint]="1"
  [breakpoints]="[0, 1]"
>
  <div class="block">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Gender</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="genderModal.dismiss()" color="primary"
              >Confirm</ion-button
            >
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-radio-group (ionChange)="genderChange($event)">
        <ion-list>
          <ion-item> <ion-radio value="male">Male</ion-radio><br /> </ion-item>
          <ion-item>
            <ion-radio value="female">Female</ion-radio><br />
          </ion-item>
          <ion-item>
            <ion-radio value="other">Other</ion-radio>
          </ion-item>
        </ion-list>
      </ion-radio-group>
    </ng-template>
  </div>
</ion-modal>
