<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email" type="text" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          *ngIf="!isLoading"
          type="submit"
          color="primary"
          expand="block"
          >Reset Password</ion-button
        >
        <ion-button *ngIf="isLoading" color="primary" expand="block" disabled>
          <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>
