<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="false">
  <div class="center-content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Reset Password</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ion-item lines="full">
            <ion-label position="floating">Email</ion-label>
            <ion-input formControlName="email" type="text" required></ion-input>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-button
                *ngIf="!isLoading"
                type="submit"
                color="primary"
                expand="block"
                >Reset Password</ion-button
              >
              <ion-button
                *ngIf="isLoading"
                color="primary"
                expand="block"
                disabled
              >
                <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
              </ion-button>
            </ion-col>
          </ion-row>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
