<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/messages"></ion-back-button>
      <ion-avatar style="width: 40px; height: 40px">
        <img src="https://i.pravatar.cc/300" />
      </ion-avatar>
    </ion-buttons>
    <ion-title>{{ name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item-group lines="none" class="chats-group" *ngFor="let msg of messages | async">
    <app-chat-box
      [chat]="msg"
      [current_user_id]="currentUserId"
    ></app-chat-box>
  </ion-item-group>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-textarea
        placeholder="Type your message here..."
        type="text"
        [(ngModel)]="message"
        (ionFocus)="typingFocus()"
        (ionBlur)="typingBlur()"
        autoGrow="true"
      >
      </ion-textarea>
      <ion-icon
        color="medium"
        expand="icon-only"
        name="mic"
        slot="end"
      ></ion-icon>
      <ion-icon
        color="primary"
        expand="icon-only"
        name="send"
        slot="end"
        (click)="addMessage()"
      ></ion-icon>
      <ion-icon
        color="medium"
        expand="icon-only"
        name="link"
        slot="start"
      ></ion-icon>
    </ion-item>
    <!-- TODO: This has to be isTyping from room subscribtion -->
    <!--
    <small>uID: {{ uid }}</small>
    <small> typing: {{ isTyping }}</small><br />
    <small>cID: {{ currentUserId }}</small>
    <small> typing: {{ isTyping }}</small><br />
    <small>roomId: {{ roomId }}</small><br />-->
  </ion-toolbar>
</ion-footer>
