<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Your Languages</ion-title>
    <ion-progress-bar [value]="progress"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let item of studyLanguages">
    <ion-card-header>
      <ion-card-title>{{item?.name}}</ion-card-title>
      <ion-card-subtitle>{{item?.nativeName}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Choice your level of your {{item?.name}}.
    </ion-card-content>
     <ion-grid>
      <ion-radio-group [allowEmptySelection]="true" (ionChange)="radioChecked($event, item)">
        <ion-list>
          <ion-item>
            <ion-radio value="1"><ion-icon name="battery-dead-outline"></ion-icon> Beginner</ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio value="2"><ion-icon name="battery-half-outline"></ion-icon> Intermediate</ion-radio>
          </ion-item>
          <ion-item>
            <ion-radio value="3"><ion-icon name="battery-full-outline"></ion-icon> Fluent</ion-radio>
          </ion-item>
        </ion-list>
      </ion-radio-group>
    </ion-grid>
  </ion-card>

  <ion-row>
    <ion-col>
      <ion-button *ngIf="!isLoading" (click)="completeLanguages()" color="primary" expand="block">Complete ✅</ion-button>
      <ion-button *ngIf="isLoading" color="primary" expand="block" disabled>
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
      </ion-button>
    </ion-col>
  </ion-row>
  
</ion-content>
