<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [disabled]="(isLoading$ | async)"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button
        [disabled]="(isLoading$ | async)"
        (click)="onSubmit()"
        expand="block"
        size="large"
        slot="icon-only"
        shape="round"
        color="primary"
      >
        <ion-icon name="checkmark-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Your Languages</ion-title>
    <ion-progress-bar [value]="progress"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of studyLanguages">
    <ion-card-header>
      <ion-card-title>{{item?.name}}</ion-card-title>
      <ion-card-subtitle>{{item?.nativeName}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Choice your level of your {{item?.name}}.
    </ion-card-content>
    <ion-grid>
      <ion-radio-group
        [allowEmptySelection]="true"
        (ionChange)="radioChecked($event, item)"
      >
        <ion-list class="hasIcon">
          <ion-item>
            <ion-icon name="battery-dead-outline"></ion-icon>
            <ion-radio value="1" [disabled]="(isLoading$ | async)">
              Beginner
            </ion-radio>
          </ion-item>
          <ion-item>
            <ion-icon name="battery-half-outline"></ion-icon>
            <ion-radio value="2" [disabled]="(isLoading$ | async)">
              Intermediate
            </ion-radio>
          </ion-item>
          <ion-item>
            <ion-icon name="battery-full-outline"></ion-icon>
            <ion-radio value="3" [disabled]="(isLoading$ | async)">
              Fluent
            </ion-radio>
          </ion-item>
        </ion-list>
      </ion-radio-group>
    </ion-grid>
  </ion-card>

  <ion-row>
    <ion-col>
      <ion-button
        [disabled]="(isLoading$ | async)"
        (click)="onSubmit()"
        color="primary"
        expand="block"
      >
        Complete ✅
        <ion-spinner *ngIf="(isLoading$ | async)" name="crescent">
        </ion-spinner>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
