<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Privacy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Account Privacy</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-toggle [checked]="true" disabled>Show Online Status</ion-toggle>
        </ion-item>
        <ion-item (click)="blockedUsersPage()" detail>
          <ion-label>Blocked Users</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>About Us</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item (click)="openLandingPage()" detail>
          <ion-label>Landing Page</ion-label>
        </ion-item>
        <ion-item (click)="openGithubPage()" detail>
          <ion-label>Github Page</ion-label>
        </ion-item>
        <ion-item (click)="openStatusPage()" detail>
          <ion-label>🟢 Status Page</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Legal Information</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item
          *ngFor="let item of legacyPages"
          (click)="openLegacyPage(item)"
          [detail]="item?.detail"
        >
          <ion-text>{{item?.title}}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer> </ion-footer>
