<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Update Password</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/account"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <ion-list>
          <ion-item>
            <ion-input
              label="Current Password"
              labelPlacement="floating"
              formControlName="current_password"
              [type]="current_password_type"
              required
            ></ion-input>
            <ion-icon
              *ngIf="current_password_type==='password'"
              name="eye-outline"
              (click)="showCurrentPassword()"
            ></ion-icon>
            <ion-icon
              *ngIf="current_password_type==='text'"
              name="eye-off-outline"
              (click)="showCurrentPassword()"
            ></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input
              label="New Password"
              labelPlacement="floating"
              formControlName="password"
              [type]="password_type"
              required
            ></ion-input>
            <ion-icon
              *ngIf="password_type==='password'"
              name="eye-outline"
              (click)="showPassword()"
            ></ion-icon>
            <ion-icon
              *ngIf="password_type==='text'"
              name="eye-off-outline"
              (click)="showPassword()"
            ></ion-icon>
          </ion-item>
          <ion-item>
            <ion-input
              label="Confitm Password"
              labelPlacement="floating"
              formControlName="password2"
              [type]="password2_type"
              required
            ></ion-input>
            <ion-icon
              *ngIf="password2_type==='password'"
              name="eye-outline"
              (click)="showPassword2()"
            ></ion-icon>
            <ion-icon
              *ngIf="password2_type==='text'"
              name="eye-off-outline"
              (click)="showPassword2()"
            ></ion-icon>
          </ion-item>
        </ion-list>
        <ion-button
          type="submit"
          color="primary"
          expand="block"
          [disabled]="isLoading$ | async"
        >
          Update Password
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
