<ion-item lines="none">
  <div class="message-body">
    <div class="message-main-sender">
      <div class="sender">
        <div class="message-text">
          <!-- Text message -->
          <span *ngIf="tempMsg?.type == 'body'">{{ tempMsg?.body }}</span>

          <!-- Image message -->
          <img
            *ngIf="tempMsg?.type == 'image'"
            [src]="tempMsg?.image"
            alt="Image message"
            referrerpolicy="no-referrer"
          />

          <!-- Audio message -->
          <audio controls *ngIf="tempMsg?.type == 'audio'">
            <source [src]="tempMsg?.audio" type="audio/ogg" />
            Your browser does not support the audio element.
          </audio>

          <span class="message-time">
            <ion-icon name="cloud-upload-outline"></ion-icon>
          </span>
        </div>
      </div>
    </div>
  </div>
  <ion-icon
    name="refresh-circle-outline"
    *ngIf="tempMsg?.error"
    color="success"
    class="ion-padding-end"
    (click)="resendMessage()"
  ></ion-icon>
  <ion-icon
    *ngIf="tempMsg?.error"
    name="close-circle-outline"
    color="danger"
    (click)="deleteMessage()"
  ></ion-icon>
</ion-item>
