<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Community</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="getFiltersPage()" expand="block" size="large" slot="icon-only" shape="round">
        <ion-icon name="filter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh(filterData, $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>

  <ion-card class="apps-card" *ngIf="!isLoading">
    <ion-card-header>
      <ion-card-subtitle>Your Daily List</ion-card-subtitle>
      <ion-card-title>
        Language Mates
      </ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="!isLoading">
      <ion-list>

        <app-user-list
          *ngFor="let item of users"
          [item]="item"
          (onClick)="startChat($event)">
        </app-user-list>

      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>