<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Community</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="toggleSearch($event)"
        expand="block"
        size="large"
        slot="icon-only"
        shape="round"
        class="icon-wrapper"
      >
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>
      <ion-button
        (click)="getFiltersPage()"
        expand="block"
        size="large"
        slot="icon-only"
        shape="round"
        class="icon-wrapper"
      >
        <ion-icon name="filter-outline"></ion-icon>
        <div
          class="red-dot"
          *ngIf="filterData?.country || filterData?.gender || filterData?.motherLanguages.length > 0 || filterData?.studyLanguages.length > 0 || filterData?.maxAge || filterData?.minAge"
        ></div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar
    color="primary"
    [ngClass]="{'search-toolbar': true, 'shown': searchActive, 'hidden': !searchActive}"
  >
    <ion-searchbar
      #searchbar
      (ionInput)="filterItems($event)"
      [debounce]="1000"
      animated="false"
      clear-icon="trash-bin"
      color="primary"
      enterkeyhint="search"
      inputmode="search"
      input="search"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" (click)="handleContentClick()">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-content>
      <ion-segment
        [scrollable]="true"
        value="usersByTargetLanguage"
        color="primary"
        (ionChange)="segmentChanged($event)"
      >
        <ion-segment-button value="usersByTargetLanguage">
          <ion-icon name="home-outline" color="primary"></ion-icon>
          <ion-label>For You</ion-label>
        </ion-segment-button>
        <ion-segment-button value="usersByCompletedProfile">
          <ion-icon name="checkbox-outline" color="success"></ion-icon>
          <ion-label>Enthusiasts</ion-label>
        </ion-segment-button>
        <ion-segment-button value="usersByCreatedAt">
          <ion-icon name="hand-left-outline" color="secondary"></ion-icon>
          <ion-label>New Users</ion-label>
        </ion-segment-button>
        <ion-segment-button value="usersByLastSeen">
          <ion-icon name="battery-charging-outline" color="success"></ion-icon>
          <ion-label>Active</ion-label>
        </ion-segment-button>
        <ion-segment-button value="visitors">
          <ion-icon name="eye-outline" color="dark"></ion-icon>
          <ion-label>Visitors</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-content>

    <ng-container [ngSwitch]="segment">
      <app-target-language
        *ngSwitchCase="'usersByTargetLanguage'"
      ></app-target-language>
      <app-enthusiast
        *ngSwitchCase="'usersByCompletedProfile'"
      ></app-enthusiast>
      <app-new *ngSwitchCase="'usersByCreatedAt'"></app-new>
      <app-online *ngSwitchCase="'usersByLastSeen'"></app-online>
      <app-visitors *ngSwitchCase="'visitors'"></app-visitors>
    </ng-container>
  </ion-card>
</ion-content>
