<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Community</ion-title>
    <ion-buttons slot="end">
      <ion-button
        (click)="getFiltersPage()"
        expand="block"
        size="large"
        slot="icon-only"
        shape="round"
        class="icon-wrapper"
      >
        <ion-icon name="filter-outline"></ion-icon>
        <div
          class="red-dot"
          *ngIf="filterData?.country || filterData?.gender || filterData?.languages.length > 0 || filterData?.maxAge || filterData?.minAge"
        ></div>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Recently Active ⚡</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ng-container *ngFor="let user of (usersByLastSeen$ | async) | slice:0:3">
          <app-user-list
            *ngIf="!(currentUser$ | async)?.blockedUsers.includes(user?.$id)"
            [item]="user"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
      </ion-list>
      <ion-button fill="clear" expand="block" (click)="getOnlinePage()">
        See More
      </ion-button>

      <!-- TODO: Skeleton Desing -->
      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <!-- <ion-list *ngIf="(isLoadingUserState$ | async)">
        <ion-item *ngFor="let i of '0123456789'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 60%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 30%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list> -->

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>New Users 👋</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ng-container *ngFor="let user of (usersByLastSeen$ | async) | slice:0:3">
          <app-user-list
            *ngIf="!(currentUser$ | async)?.blockedUsers.includes(user?.$id)"
            [item]="user"
            (onClick)="getProfilePage(user?.$id)"
          >
          </app-user-list>
        </ng-container>
      </ion-list>
      <ion-button fill="clear" expand="block" (click)="getOnlinePage()">
        See More
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
