<ion-header>
  <ion-toolbar color="primary">
    <ion-title>languageXchange</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content scrollY="false">
  <div class="center-content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Log In</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ion-item lines="full">
            <ion-input
              label="Email"
              labelPlacement="floating"
              formControlName="email"
              type="text"
              required
              appAutofill
            ></ion-input>
            <!-- TODO: Test this directive above about autoFill. -->
          </ion-item>
          <ion-item lines="full">
            <ion-input
              label="Password"
              labelPlacement="floating"
              formControlName="password"
              [type]="password_type"
              required
              appAutofill
            ></ion-input>
            <!-- TODO: Test this directive above about autoFill. -->
            <ion-icon
              *ngIf="password_type==='password'"
              name="eye-outline"
              (click)="showPassword()"
            ></ion-icon>
            <ion-icon
              *ngIf="password_type==='text'"
              name="eye-off-outline"
              (click)="showPassword()"
            ></ion-icon>
          </ion-item>
          <ion-row>
            <ion-col>
              <ion-button
                [disabled]="(isLoading$ | async)"
                type="submit"
                color="primary"
                expand="block"
              >
                Login
                <ion-spinner *ngIf="(isLoading$ | async)" name="crescent">
                </ion-spinner>
              </ion-button>
            </ion-col>
          </ion-row>
          <i class="custom-col">
            <div>Not a member yet?</div>
            <ion-button fill="clear" routerLink="signup" color="primary">
              Sign Up
            </ion-button>
          </i>
          <i class="custom-col">
            <div>Forgot password?</div>
            <ion-button
              fill="clear"
              routerLink="reset-password"
              color="primary"
            >
              Reset it
            </ion-button>
          </i>
        </form>
        <ion-row>
          <ion-col>
            <!-- OAuth2 Component -->
            <app-oauth2></app-oauth2>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button
              (click)="showIntro()"
              fill="clear"
              size="small"
              expand="block"
              class="ion-margin-top"
              color="dark"
            >
              Show Intro
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
