<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <ion-item lines="full">
      <ion-input
        label="Email"
        labelPlacement="floating"
        formControlName="email"
        type="text"
        required
      ></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-input
        label="Password"
        labelPlacement="floating"
        formControlName="password"
        type="password"
        required
      ></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button
          [disabled]="(isLoading$ | async)"
          type="submit"
          color="primary"
          expand="block"
        >
          Login
          <ion-spinner *ngIf="(isLoading$ | async)" name="crescent">
          </ion-spinner>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <p></p>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Login with</ion-card-title>
          </ion-card-header>
          <ion-card-content align="center">
            <ion-icon
              (click)="signInWithGoogle()"
              size="large"
              name="logo-google"
            ></ion-icon>
            <ion-icon size="large" name="logo-facebook"></ion-icon>
            <ion-icon size="large" name="logo-apple"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-margin-vertical">
      <ion-col size="6" class="alignItems">
        <div align="left">
          <ion-checkbox></ion-checkbox>
          <ion-note>Remember me</ion-note>
        </div>
      </ion-col>
      <ion-col size="6">
        <div align="right">
          <ion-note>
            <ion-text routerLink="reset-password" color="primary">
              Forgot password?
            </ion-text>
          </ion-note>
        </div>
      </ion-col>
    </ion-row>
    <p class="signup">
      <ion-note>
        Not a member yet?
        <ion-text routerLink="signup" color="primary">Sign Up</ion-text>
      </ion-note>
    </p>
  </form>

  <!--
  <ion-button (click)="setValue()">Set Value</ion-button>
  <ion-button (click)="getValue()">Get Value</ion-button>
  <ion-button (click)="removeValue()">Remove Value</ion-button>
  <ion-button (click)="clearStorage()">Clear Storage</ion-button>

  <p>{{ value }}</p>
-->
</ion-content>
