<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Support Us</ion-card-title>
      <ion-card-subtitle>❤️ Help Us Make a Difference</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item
          *ngFor="let item of sponsorPages"
          (click)="openPage(item)"
          [detail]="item?.detail"
        >
          <ion-icon name="{{item?.icon}}"></ion-icon>
          <ion-label>{{item?.title}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>About Us</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item
          *ngFor="let item of aboutUsPages"
          (click)="openPage(item)"
          [detail]="item?.detail"
        >
          <ion-icon name="{{item?.icon}}"></ion-icon>
          <ion-label>{{item?.title}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Latest Releases</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item
          *ngFor="let item of releasesPages"
          (click)="openPage(item)"
          [detail]="item?.detail"
        >
          <ion-icon name="{{item?.icon}}"></ion-icon>
          <ion-label>{{item?.title}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Licenses</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item
          *ngFor="let item of licenses"
          (click)="openPage(item)"
          [detail]="item?.detail"
        >
          <ion-icon name="{{item?.icon}}"></ion-icon>
          <ion-label>{{item?.title}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>App Version</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item>
          <ion-icon name="information-circle-outline"></ion-icon>
          <ion-label>{{ appVersion }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
