<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Our Kitchen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contributors</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item
          *ngFor="let item of contributorsPages"
          (click)="getContributorsPage(item)"
          [detail]="item?.detail"
        >
          <ion-icon name="{{item?.icon}}"></ion-icon>
          <ion-label>{{item?.title}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Support Us</ion-card-title>
      <ion-card-subtitle>Help Us Make a Difference</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item
          *ngFor="let item of sponsorPages"
          (click)="openPage(item)"
          [detail]="item?.detail"
        >
          <ion-icon name="{{item?.icon}}"></ion-icon>
          <ion-label>{{item?.title}}</ion-label>
        </ion-item>
        <ion-item (click)="openAppStore()" *ngIf="isNativePlatform()">
          <ion-icon name="create-outline"></ion-icon>
          <ion-label>Write a Review</ion-label>
        </ion-item>
        <ion-item (click)="openAppStore()" *ngIf="isNativePlatform()">
          <ion-icon name="star-outline"></ion-icon>
          <ion-label>Rate Us</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Social Media</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item
          *ngFor="let item of socialMediaPages"
          (click)="openPage(item)"
          [detail]="item?.detail"
        >
          <ion-icon name="{{item?.icon}}"></ion-icon>
          <ion-label>{{item?.title}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>About Us</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item
          *ngFor="let item of aboutUsPages"
          (click)="openPage(item)"
          [detail]="item?.detail"
        >
          <ion-icon name="{{item?.icon}}"></ion-icon>
          <ion-label>{{item?.title}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Licenses</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list lines="none">
        <ion-item
          *ngFor="let item of licenses"
          (click)="openPage(item)"
          [detail]="item?.detail"
        >
          <ion-icon name="{{item?.icon}}"></ion-icon>
          <ion-label>{{item?.title}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
