<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Choice Your Languages</ion-title>
    <ion-progress-bar [value]="progress"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form>
    <ion-radio-group value="start" (ionChange)="languageChange($event)">

      <ion-list>
        <ion-list-header>
          <ion-title>Mother Language</ion-title>
        </ion-list-header>
        <ion-searchbar [(ngModel)]="term" name="searchbar"></ion-searchbar>
        <ion-item *ngFor="let lang of languages | customFilter: term">
          <ion-radio value="{{lang.code}}">{{lang.name}}</ion-radio>
        </ion-item>
      </ion-list>

    </ion-radio-group>
  </form>
</ion-content>
