<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Visitors</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Recent Visitors to Your Profile</ion-card-subtitle>
      <ion-card-title>Who visited your profile?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ng-container *ngFor="let visit of (visits$ | async)">
          <app-visit-list [item]="visit"> </app-visit-list>
        </ng-container>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <!-- <ion-list *ngIf="(isLoadingUserState$ | async)">
        <ion-item *ngFor="let i of '0123456789'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 60%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 30%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list> -->

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
