<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Your Languages</ion-title>
    <ion-progress-bar [value]="progress"></ion-progress-bar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Mother Language</ion-card-title>
      <ion-card-subtitle>the language you speak at home</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-searchbar [(ngModel)]="term"></ion-searchbar>
        <ion-row>
          <ion-col value="start">
            <ion-radio-group value="start" (ionChange)="radioChecked($event)">
              <ion-item *ngFor="let lang of languages | customFilter: term">
                <ion-radio value="{{lang.code}}" labelPlacement="start"
                  >{{lang.nativeName}}</ion-radio
                >
              </ion-item>
            </ion-radio-group>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-row>
    <ion-col>
      <ion-button
        *ngIf="!isLoading"
        (click)="onSubmit()"
        color="primary"
        expand="block"
        >Continue</ion-button
      >
      <ion-button *ngIf="isLoading" color="primary" expand="block" disabled>
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
