<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-row>
          <ion-col>Display Name</ion-col>
          <ion-col>
            <ion-card-subtitle>
              <ion-button (click)="updateName()" size="small">
                Save
              </ion-button>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-input
            #nameInput
            [(ngModel)]="name"
            [placeholder]="name"
            minlength="3"
            maxlength="30"
            [counter]="true"
          ></ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-row>
          <ion-col>Username</ion-col>
          <ion-col>
            <ion-card-subtitle>
              <ion-button
                (click)="updateUsername()"
                [disabled]="(isLoadingUser$ | async)"
                size="small"
              >
                Save
              </ion-button>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-input
            #usernameInput
            [(ngModel)]="username"
            [placeholder]="username"
            (ionInput)="onInputUsername($event)"
            label="@"
            minlength="3"
            maxlength="15"
            [counter]="true"
            debounce="300"
            pattern="^[a-zA-Z0-9_]*$"
          >
            <ion-icon
              *ngIf="isUsernameAvailable$ | async"
              slot="end"
              name="checkmark-outline"
              color="success"
              aria-hidden="true"
            ></ion-icon>
            <ion-icon
              *ngIf="!(isUsernameAvailable$ | async)"
              slot="end"
              name="alert-outline"
              color="danger"
              aria-hidden="true"
            ></ion-icon>
          </ion-input>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-row>
          <ion-col>Profile Picture</ion-col>
          <ion-col>
            <ion-card-subtitle>
              <ion-button
                (click)="selectImage('pp')"
                [disabled]="(isLoading$ | async)"
                size="small"
              >
                Edit
              </ion-button>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img
              [src]="profilePic$ | async"
              alt="Profile Picture"
              referrerpolicy="no-referrer"
            />
          </ion-thumbnail>
          <ion-label></ion-label>
          <ion-icon
            name="close-circle-outline"
            slot="end"
            size="small"
            color="danger"
            (click)="deletePP()"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <form [formGroup]="form" (ngSubmit)="saveAboutMe()">
      <ion-card-header>
        <ion-card-title>
          <ion-row>
            <ion-col>About Me</ion-col>
            <ion-col>
              <ion-card-subtitle>
                <ion-button type="submit" size="small">Save</ion-button>
              </ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item lines="none">
            <ion-textarea
              formControlName="aboutMe"
              [autoGrow]="true"
              [counter]="true"
              rows="5"
              maxlength="500"
              helperText="hobbies, interests, etc."
              placeholder="No 'About Me' text provided yet. 💬"
            ></ion-textarea>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </form>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-row>
          <ion-col>Study Language(s)</ion-col>
          <ion-col>
            <ion-card-subtitle>
              <ion-button (click)="editStudyLanguages()" size="small">
                Edit
              </ion-button>
              <ion-button
                (click)="addStudyLanguage()"
                color="primary"
                size="small"
              >
                Add
              </ion-button>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let lang of studyLanguages">
          <ion-icon
            *ngIf="lang.level === 0"
            name="battery-dead-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-icon
            *ngIf="lang.level === 1"
            name="battery-half-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-icon
            *ngIf="lang.level === 2"
            name="battery-full-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-icon
            *ngIf="lang.level === 3"
            name="rocket-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-label>{{lang.name}}</ion-label>
          <ion-note>{{lang.nativeName}}</ion-note>
          <ion-icon
            name="close-circle-outline"
            slot="end"
            color="danger"
            size="small"
            (click)="deleteStudyLanguage(lang)"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-row>
          <ion-col>Mother Tongue(s)</ion-col>
          <ion-col>
            <ion-card-subtitle>
              <ion-button
                (click)="addMotherLanguage()"
                color="primary"
                size="small"
              >
                Add
              </ion-button>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let lang of motherLanguages">
          <ion-icon
            name="language-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-label>{{lang.name}}</ion-label>
          <ion-note>{{lang.nativeName}}</ion-note>
          <ion-icon
            name="close-circle-outline"
            slot="end"
            color="danger"
            size="small"
            (click)="deleteMotherLanguage(lang)"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-row>
          <ion-col>Other Pictures</ion-col>
          <ion-col>
            <ion-card-subtitle>
              <ion-button
                (click)="selectImage('other')"
                [disabled]="(isLoading$ | async)"
                size="small"
              >
                Add
              </ion-button>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- TODO: Better design needed here-->
      <ion-list>
        <ion-item *ngFor="let photo of (otherPics$ | async)">
          <ion-thumbnail slot="start">
            <img
              [src]="photo"
              alt="Profile Picture"
              referrerpolicy="no-referrer"
            />
          </ion-thumbnail>
          <ion-label></ion-label>
          <ion-icon
            (click)="deleteOtherPhotos(photo)"
            name="close-circle-outline"
            slot="end"
            size="small"
            color="danger"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
