<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="messages">
      <ion-icon aria-hidden="true" name="triangle"></ion-icon>
      <ion-label>Messages</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="community">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>Community</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true" name="square"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
