<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="messages">
      <ion-icon aria-hidden="true" name="chatbubbles-outline"></ion-icon>
      <ion-label>Messages</ion-label>
      <ion-badge color="danger">10</ion-badge>
    </ion-tab-button>
    <ion-tab-button tab="community">
      <ion-icon aria-hidden="true" name="compass-outline"></ion-icon>
      <ion-label>Community</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
