<ion-header [translucent]="true">

  <ion-toolbar color="primary">
    <ion-title>Fire Chat</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" id="popover">
        <ion-icon slot="icon-only" name="ellipsis-vertical-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-popover #popover trigger="popover" triggerAction="click">
      <ng-template>
        <ion-content class="ion-padding" (click)="logout()">
          <ion-label color="danger">
            Logout
          </ion-label>
        </ion-content>
      </ng-template>
    </ion-popover>
  </ion-toolbar>

  <ion-segment [value]="segment" (ionChange)="onSegmentChanged($event)">
    <ion-segment-button value="chats">
      <ion-label>Chats</ion-label>
    </ion-segment-button>
    <ion-segment-button value="community">
      <ion-label>Community</ion-label>
    </ion-segment-button>
    <ion-segment-button value="profile">
      <ion-label>Profile</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-header>

<ion-content [fullscreen]="true">

  <ion-list *ngIf="segment=='chats' && (chatRooms) as rooms">
    <ion-list-header class="ion-padding-bottom">
      Recent Chats
    </ion-list-header>
    <ion-item 
    *ngFor="let item of rooms"
    (click)="getChat(item)"
    detail>
      <ion-avatar slot="start">
        <img [src]="item.photo" alt="">
      </ion-avatar>
      <ion-label>
        <h2>{{item.name}}</h2>
        <p>Paragraph {{item.id}}</p>
      </ion-label>
      <ion-text slot="end" color="medium">10:10</ion-text>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" horizontal="end" vertical="bottom">
    <ion-fab-button (click)="newChat()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-modal #new_chat [isOpen]="open_new_chat" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-buttons slot="end">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding" *ngIf="users as user$">
        <ion-list class="ion-top-margin" lines="none">
          <app-user-list
            *ngFor="let item of user$"
            [item]="item"
            (onClick)="startChat($event)">
          </app-user-list>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
