.thumbnail-container {
  position: relative;
  display: inline-block;
}

.emoji-indicator {
  position: absolute;
  bottom: 0px;
  right: 3px;
  font-size: 15px;
}

ion-thumbnail {
  --size: 75px; // Increase this value to make the thumbnail bigger
  margin-top: 5px;
  margin-bottom: 5px;
  --border-radius: 10px;
}

.contributor {
  border: 3px solid var(--ion-color-primary);
}
