<ion-item>
  <ion-thumbnail class="thumbnail-container" (click)="goProfile()" slot="start">
    <img [src]="item?.profilePhoto" alt="" referrerpolicy="no-referrer" />
    <div class="emoji-indicator">
      <small *ngIf="onlineStatus(item?.lastSeen) == 'online'">🟢</small>
      <small *ngIf="onlineStatus(item?.lastSeen) == 'away'">🟡</small>
    </div>
  </ion-thumbnail>
  <ion-label (click)="redirect()">
    <h2>
      {{ getFlagEmoji(item) }}
      {{ item?.name }}
    </h2>
    <p>
      <ion-text *ngIf="item?.aboutMe">{{ item?.aboutMe }}</ion-text>
      <ion-text *ngIf="!item?.aboutMe">
        No 'About Me' text provided yet.</ion-text
      >
    </p>
    <p>
      <ion-text style="font-style: italic">
        Learning:
        <span>
          {{ getStudyLanguages() }}
        </span>
      </ion-text>
    </p>
    <p></p>
  </ion-label>
</ion-item>
