<ion-item>
  <ion-thumbnail slot="start" (click)="goProfile()">
    <img [src]="item?.profilePhoto" alt="" referrerpolicy="no-referrer" />
  </ion-thumbnail>
  <ion-label (click)="redirect()">
    <h2>
      <small *ngIf="lastSeen(item?.lastSeen) == 'online'">🟢 </small>
      {{ getFlagEmoji(item) }}
      {{ item?.name }}
    </h2>
    <p>
      <ion-text *ngIf="item?.aboutMe">{{ item?.aboutMe }}</ion-text>

      <ion-text *ngIf="!item?.aboutMe">No about text yet.</ion-text>
    </p>
    <p>
        <ion-text style="font-style: italic">
        Learning:
        <span>
          {{ getStudyLanguages() }}
        </span>
      </ion-text>
    </p>
    <p></p>
  </ion-label>
</ion-item>
