<app-empty-screen *ngIf="(visits$ | async)?.length == 0" [model]="model">
</app-empty-screen>
<ion-card-header>
  <ion-card-title>Profile Visitors</ion-card-title>
  <ion-card-subtitle>👀 Recent Profile Views</ion-card-subtitle>
</ion-card-header>
<ion-card-content>
  <ion-list *ngIf="!(isLoadingVisits$ | async)">
    <ng-container *ngFor="let visit of visits$ | async | slice : 0 : 25">
      <app-visit-list
        [item]="visit"
        *ngIf="visit?.from?.$id !== 'deleted-user'"
      ></app-visit-list>
    </ng-container>
  </ion-list>

  <ion-list *ngIf="isLoadingVisits$ | async">
    <ion-item *ngFor="let i of '01234'.split('')" detail>
      <ion-thumbnail class="visitor-thumbnail" slot="start">
        <ion-skeleton-text [animated]="true"></ion-skeleton-text>
      </ion-thumbnail>
      <ion-label>
        <h3>
          <ion-skeleton-text
            [animated]="true"
            style="width: 60%"
          ></ion-skeleton-text>
        </h3>
        <p>
          <ion-skeleton-text
            [animated]="true"
            style="width: 30%"
          ></ion-skeleton-text>
        </p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-button
    fill="clear"
    expand="block"
    (click)="getVisitsPage()"
    [disabled]="isLoadingVisits$ | async"
  >
    See More
  </ion-button>
</ion-card-content>
