<ion-content [fullscreen]="true">

  <ion-fab slot="fixed" vertical="top" horizontal="end" [edge]="false">
    <ion-fab-button (click)="close()" size="small" color="medium">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <!-- TODO #94 primary color can change for arrow buttons and pagination -->
  <!-- initialSlide does not work -->
  <swiper-container
    [spaceBetween]="15"
    [initialSlide]="2"
    [centeredSlides]="true"
    [pagination]="true"
    [navigation]="true"
    pagination-dynamic-bullets="true"
    keyboard="true"
    mousewheel="true"
    [zoom]="true">
    <swiper-slide *ngFor="let photo of photos">
      <!-- TODO: Test this following zoom feature on mobile-->
      <div class="swiper-zoom-container">
        <img [src]="photo" alt="Profile Picture" referrerpolicy="no-referrer">
      </div>
    </swiper-slide>
</swiper-container>

</ion-content>