// Todo: Transparent does not work
ion-content {
  --background: transparent;
}

ion-footer {
  margin-bottom: 10px;
}

swiper-container {
  width: 100%;
  height: 100%;
  --swiper-theme-color: var(--ion-color-primary);
}