<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Oauth2 Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="isLoading$ | async">
    <app-spinner></app-spinner>
  </div>
  <div *ngIf="!(isLoading$ | async)">
    <app-redirect
      *ngIf="(isLoggedIn$ | async)"
      [model]="modelSuccess"
    ></app-redirect>
    <app-redirect
      *ngIf="!(isLoggedIn$ | async)"
      [model]="modelFailed"
    ></app-redirect>
  </div>
</ion-content>
