.thumbnail-container {
  position: relative;
  display: inline-block;
}

.emoji-indicator {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 10px;
}

ion-thumbnail {
  margin-top: 5px;
  margin-bottom: 5px;
  --border-radius: 10px;
}

.contributor {
  border: 1px solid var(--ion-color-primary);
}
