<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--<ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>-->

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-row>
          <ion-col>Profile Picture</ion-col>
          <ion-col>
            <ion-card-subtitle>
              <ion-button
                (click)="selectImage('pp')"
                [disabled]="isLoading"
                size="small"
                >Change</ion-button
              >
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img
              [src]="cUserDoc?.profilePhoto"
              alt="Profile Picture"
              referrerpolicy="no-referrer"
            />
          </ion-thumbnail>
          <ion-label></ion-label>
          <ion-icon
            name="close-circle-outline"
            slot="end"
            size="small"
            color="danger"
            (click)="deletePP()"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-row>
          <ion-col>About Me</ion-col>
          <ion-col>
            <ion-card-subtitle>
              <ion-button (click)="saveAboutMe()" size="small">Save</ion-button>
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item lines="none">
          <ion-textarea
            (ionInput)="ionInputAboutMe($event)"
            [autoGrow]="true"
            [counter]="true"
            maxlength="500"
            rows="5"
            helperText="hobbies, interests, etc."
            placeholder="You can edit here your profile description."
            [value]="textAreaValue()"
          ></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-row>
          <ion-col>Study Languages</ion-col>
          <ion-col>
            <ion-card-subtitle>
              <ion-button (click)="editLanguages()" size="small"
                >Edit</ion-button
              >
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let lang of currentUser?.studyLanguages">
          <ion-icon
            *ngIf="lang.level == 1"
            name="battery-dead-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-icon
            *ngIf="lang.level == 2"
            name="battery-half-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-icon
            *ngIf="lang.level == 3"
            name="battery-full-outline"
            slot="start"
            color="primary"
          ></ion-icon>
          <ion-label>{{lang.name}}</ion-label>
          <ion-note>{{lang.nativeName}}</ion-note>
          <ion-icon
            name="close-circle-outline"
            slot="end"
            color="danger"
            size="small"
            (click)="deleteLanguage(lang)"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-row>
          <ion-col>Other Pictures</ion-col>
          <ion-col>
            <ion-card-subtitle>
              <ion-button
                (click)="selectImage('other')"
                [disabled]="isLoading"
                size="small"
                >Add</ion-button
              >
            </ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let photo of cUserDoc?.otherPhotos">
          <ion-thumbnail slot="start">
            <img
              [src]="photo"
              alt="Profile Picture"
              referrerpolicy="no-referrer"
            />
          </ion-thumbnail>
          <ion-label></ion-label>
          <ion-icon
            (click)="deleteOtherPhotos(photo)"
            name="close-circle-outline"
            slot="end"
            size="small"
            color="danger"
          ></ion-icon>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
