<ion-card>
  <ion-card-content>
    <ion-list class="hasIcon" lines="none">
      <ion-item>
        <ion-icon name="trophy-outline"></ion-icon>
        <ion-label>Badges</ion-label>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col
          size="4"
          *ngFor="let badge of badgesList"
          class="ion-justify-content-center"
        >
          <ion-card-content
            class="badge-content"
            (click)="openPage(badge['pageURL'])"
          >
            <img [src]="badge['url']" class="badge-image" />
            <p class="badge-text ion-padding-top">{{ badge["name"] }}</p>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>
