<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Blocked Users</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home/privacy"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ng-container *ngFor="let user of (blockedUsersData$ | async)">
          <app-blocked-user-list [item]="user"></app-blocked-user-list>
        </ng-container>
      </ion-list>

      <!-------------------->
      <!-- SKELETON start -->
      <!-------------------->

      <ion-list *ngIf="(isLoading$ | async)">
        <ion-item *ngFor="let i of '012'.split('')">
          <ion-thumbnail slot="start">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label>
            <h3>
              <ion-skeleton-text
                [animated]="true"
                style="width: 80%"
              ></ion-skeleton-text>
            </h3>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 60%"
              ></ion-skeleton-text>
            </p>
            <p>
              <ion-skeleton-text
                [animated]="true"
                style="width: 30%"
              ></ion-skeleton-text>
            </p>
          </ion-label>
        </ion-item>
      </ion-list>

      <!------------------>
      <!-- SKELETON end -->
      <!------------------>
    </ion-card-content>
  </ion-card>
</ion-content>
