.thumbnail-container {
  position: relative;
  display: inline-block;
}

.emoji-indicator {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 10px;
}

ion-thumbnail {
  margin-top: 5px;
  margin-bottom: 5px;
  --border-radius: 10px;
}

ion-badge {
  margin-right: 10px;
}

.item {
  position: relative;

  .your-turn {
    position: absolute;
    top: 2px;
    right: 0;
  }
}
