<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-avatar style="width: 40px; height: 40px">
        <img src="https://i.pravatar.cc/300" />
      </ion-avatar>
    </ion-buttons>
    <ion-title>chat2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">chat2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="scrollToBottom()">Scroll to Bottom</ion-button>
  <div class="message" *ngFor="let message of messages | async">
    {{ message }}
  </div>
  <ion-button (click)="pushMessage('test')">Push a new msg</ion-button>

</ion-content>
