<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-avatar style="width: 40px; height: 40px">
        <img src="https://i.pravatar.cc/300" />
      </ion-avatar>
    </ion-buttons>
    <ion-title>{{ uname }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">chat2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="scrollToBottom()">Scroll to Bottom</ion-button>

  <div class="message" *ngFor="let message of messages | async">
    <div>{{ message.message }}</div>
    <div class="time">
      {{ message.createdAt | date:'shortTime' }} - {{ message.sender }}
    </div>
    <div class="seen" *ngIf="message.seen">Seen</div>
    <div class="not-seen" *ngIf="!message.seen">Not seen</div>
    <p></p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item>
      <ion-textarea
        placeholder="Type your message here..."
        type="text"
        [(ngModel)]="message"
        (ionFocus)="typingFocus()"
        (ionBlur)="typingBlur()"
        autoGrow="true"
      >
      </ion-textarea>
      <ion-icon
        color="medium"
        expand="icon-only"
        name="mic"
        slot="end"
      ></ion-icon>
      <ion-icon
        color="primary"
        expand="icon-only"
        name="send"
        slot="end"
        (click)="addUserMessage()"
      ></ion-icon>
      <ion-icon
        color="medium"
        expand="icon-only"
        name="link"
        slot="start"
      ></ion-icon>
    </ion-item>
    <small>uid: {{ uid }}</small>
    <small>currentUserId: {{ currentUserId }}</small>
  </ion-toolbar>
</ion-footer>
