<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
      <ion-avatar style="width: 40px; height: 40px">
        <img src="https://i.pravatar.cc/300" />
      </ion-avatar>
    </ion-buttons>
    <ion-title>chat2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">chat2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="scrollToBottom()">Scroll to Bottom</ion-button>

  <div class="message" *ngFor="let message of messages | async">
    <div>{{ message.message }}</div>
    <div class="last-seen">{{ message.lastSeen.date | date:'shortTime' }} - {{ message.lastSeen.user }}</div>
    <p></p>
  </div>

  <ion-item>
    <ion-input [(ngModel)]="newMessage" placeholder="Type a message"></ion-input>
    <ion-button (click)="pushMessage(newMessage, 'You')">Send</ion-button>
  </ion-item>

</ion-content>
